/*----------------------------------------*\
*   $CATEGORIES WIDGET
\*----------------------------------------*/
.widget_categories{
    ul{
        @extend .nav--stacked;

        li{
            width: 100%;
            @include rem(margin-bottom, $half-spacing-unit/2);
        }
    }

    a{
        display: inline !important;
        @include rem(margin-right, $half-spacing-unit/2);
        text-decoration: none;
    }
}



