.widget_archive, .widget_categories, .widget_tag_cloud, .widget_pages, .widget_nav_menu {

	ul {
	  @extend %menu;
	  @extend %clearfix;
	  overflow: hidden;		
	}

	li {
	  margin-bottom: -1px;
	  border-bottom: 1px solid #555;
		
		@include media(from desk) {
			width: 50%;
			float: left;
		}

		ul {
			display: none;
		}
	}

	a {
	  text-decoration: none;
	  color: $grayLightest;
	  @include rem(line-height, 36px);	
	  font-size: inherit !important;
	}

}