// DRIBBBLE WIDGET
.widget_wpgrade_dribbble_widget {

	.widget-title {
		padding-bottom: 0;
	}
}

.wpgrade-dribbble-items {
	@extend %clearfix;
	border: 0 !important;
	@include rem(margin-left, -$unit/2);
}

.wpgrade-dribbble-item {
	width: 50%;
	float: left;
	border: 0 solid transparent;
	@include rem(margin-bottom, $unit/2);
	@include rem(border-left-width, $unit/2);
}

.wpgrade-dribbble-link {
	border: 2px solid white;
	@include box-shadow(rgba(black, .25) 1px 1px 3px);
	display: block;
	float: left;
	width: 100%;

	img {
		display: block;
		width:100%;
	}

	&:hover {
		border: 2px solid white;
	}
}
