// INSTAGRAM WIDGET
.widget_wpgrade_instagram_widget {

	.widget-title {
		padding-bottom: 0;
	}
}

.wpgrade-instagram-items {
	@extend %clearfix;
	border: 0 !important;
}

.wpgrade-instagram-item {
	width: 50%;
	float: left;
	border: 0 !important;
}

.wpgrade-instagram-link {
	display: block;
	border: 2px solid white;
	@include box-shadow(rgba(black, .25) 1px 1px 3px);
	float: left;

	img {
		display: block;
	}

	&:hover {
		border: 2px solid white;
	}
}
