/*----------------------------------------*\
*   $TAG CLOUD WIDGET
\*----------------------------------------*/
.widget_tag_cloud{
    ul{
        @extend .nav--stacked;

        li{
            @include rem(margin-bottom, $half-spacing-unit/2);
        }        
    }

    a{
        text-decoration: none;
    }    
}




