/*
Syntax error: Undefined mixin 'media'.
        on line 24 of scss/localization/rtl.scss, in `media'
        from line 24 of scss/localization/rtl.scss

19: /**
20:  * Content
21:  */
22: 
23: /*#main*/.content {
24:   @include media(from hand) {
25:       margin-left:0;
26:       @include rem(margin-right, 250px);
27:   } 
28: }
29: 

Backtrace:
scss/localization/rtl.scss:24:in `media'
scss/localization/rtl.scss:24
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:256:in `visit_mixin'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:37:in `visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:100:in `visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:53:in `map'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:53:in `visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:37:in `block in visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:325:in `visit_rule'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:37:in `visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:100:in `visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:53:in `map'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:53:in `visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:37:in `block in visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/base.rb:37:in `visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:100:in `visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/visitors/perform.rb:7:in `visit'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/root_node.rb:36:in `css_tree'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/engine.rb:351:in `_render_with_sourcemap'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/engine.rb:282:in `render_with_sourcemap'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/plugin/compiler.rb:323:in `update_stylesheet'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/plugin/compiler.rb:182:in `block in update_stylesheets'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/plugin/compiler.rb:179:in `each'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/lib/sass/plugin/compiler.rb:278:in `block in watch'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
e:/ruby/lib/ruby/gems/2.0.0/gems/sass-3.3.0.alpha.103/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'media'.\A         on line 24 of scss/localization/rtl.scss, in `media'\A         from line 24 of scss/localization/rtl.scss\A \A 19: /**\A 20:  * Content\A 21:  */\A 22: \A 23: /*#main*/.content {\A 24:   @include media(from hand) {\A 25:       margin-left:0;\A 26:       @include rem(margin-right, 250px);\A 27:   } \A 28: }\A 29: "; }
