/*-----------------------------------------*\
               $ICON SHORTCODE
\*-----------------------------------------*/


.pixcode--icon {
    display: inline-block;
    line-height: 1;

    &.small { @include rem(font-size, 14px); }
    &.medium { @include rem(font-size, 24px); }
    &.big { @include rem(font-size, 40px); }

    &.square,
    &.circle {
        @extend .btn;
        @extend .btn--negative;
        text-align: center;
        line-height: 2em;
        padding: 0;
        width: 2em;
        height: 2em;
    }

    &.circle {
        @include border-radius(999px);
    }
}





/*--------------------------------------------*\
               ICON INSIDE A LINK
\*--------------------------------------------*/

.pixcode--icon {

    a > & {
        @include transition(all 0.15s);
    }

    a:hover > & {
        text-decoration: none;
        border: none;
        color: $red;
  
        &.circle, &.square {
            background-color: $dark;
        }
    }
}
