/*-----------------------------------------*\
               $ICON SHORTCODE
\*-----------------------------------------*/


.pixcode--icon {
    display: inline-block;
    text-align: center;
    @include rem(font-size, 21px);

    &.square,
    &.circle {
        @extend .btn;
        @extend .btn--negative;
        padding: 0;
        
        @include rem(font-size, 21px);
        width: (48/21) + em;
        height: (48/21) + em;
        line-height: (48/21) + em;
    }

    &.circle {
        @include border-radius(999px);
    }

    &.small {
        @include rem(font-size, 18px);

        &.circle, &.square {
            width: (36/18) + em;
            height: (36/18) + em;
            line-height: (36/18) + em;
        }
    }

    &.medium {
        @include rem(font-size, 24px);

        &.circle, &.square {
            width: 2em;
            height: 2em;
            line-height: 2em;
        }
    }

    &.big {
        @include rem(font-size, 36px);
        width: 2em;
        height: 2em;
        line-height: 2em;
    }
}





/*--------------------------------------------*\
               ICON INSIDE A LINK
\*--------------------------------------------*/

.pixcode--icon {

    a > & {
        @include transition(all 0.15s);
    }

    a:hover > & {
        text-decoration: none;
        border: none;
        color: $red;
  
        &.circle, &.square {
            background-color: $red;
        }
    }
}
