/*---------------------------------*\
               ARTICLE
\*---------------------------------*/

.article {
    position: relative;
    @include rem(font-size, 14px);
}

.article__title {
    @include rem(margin-bottom, $_u2);
}

.article__title__meta {
    @include rem(margin-bottom, $_u);
}

.article__author-name {
    @extend .hN;
    @extend .delta;
    color: $red;
    display: inline-block;
    font-style: normal;
}

.article__time {
    display: inline-block;
    @include font-size(12px);
}

    .article__featured-image {
        @include rem(margin-bottom, $_u);
        position: relative;

        img {
            display: block;
        }
    }

    .article__title {
        display: block;
        position: relative;

        .hN {
            margin-bottom: 0;
        }
    }

    .article__title--inverse {
        color: white;

        h3 {
            @include rem(padding, $_u4 $_u);
            @include rem(margin, -$_u $_u2 $_u2);
            background-color: $dark;
            @include transition(background-color 0.15s);
        }

        &:after {
            background-color: $dark;
            content:"";
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            z-index:-1;
            @include scaleX(0.89, false, true);
            @include transition(all 0.15s);

            //Fix text moving on hover
            @include backface-visibility(hidden);
        }
    }

    .article__title--full {
        margin-bottom:0;
        h3 {
            margin:0;
        }
    }

    .article__content {
        text-align: center;
    }

.article__category {
    a:hover {
        text-decoration:underline;
    }
}


/**
 * Article Grid
 * -- Blog Latest Posts, Posts Grid Cards
 */

.article--grid {
    
    padding-bottom: 0;
    @include rem(margin-bottom, $_u - 5px);

    .article__featured-image {
        
    }
}
        
    .article--grid__header {

        &:hover {
            .article--grid__thumb {
                // @include scale(0.92);
            }

            .article--grid__title  {
                h3 {
                    background-color:$accent;
                }
                &:after {
                    background-color:$accent;
                    @include scaleX(1, false, true);
                }
            }
        }
    }

    .article--grid__body {
        @include rem(padding, 0 $_u2);
        position: relative;
        z-index: 22;

        .article__content {
             @include rem(padding, 0 $_u2);
        }
    }

    .article--grid__thumb {
        margin-bottom: 0;
        z-index: 21;
        @include transition(all 0.25s);


        &:before {
            @include transition(all 0.25s);
            content: " ";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index:21;
            opacity:1;
            border:0px solid #fff;

        }
    }

    .article--grid__title {
        @extend .article__title--inverse;
        z-index:22;
        .hN {
            text-align: center;
        }  
    }

    .article--grid__meta {
        @extend %separator--section;
        margin-top: -1px;
        margin-bottom:0;
        @include rem(padding, 0 $_u $_u4);

        &:before {
            content: " ";
            display:block;
            height:1px;
            background-color: #b3b3b3;
            @include rem(margin, 0 #{-$_u4} $_u4);
        }
    }



/**
 * Article Meta Links (date, comments, likes)
 * -- Blog Latest Posts, Posts Grid Cards, Hero Posts Module
 */

.article__meta-links {
    margin-bottom: 0;
    color: $light;
    @include rem(margin-left, -$_u2);
    @include font-size(11px);
    text-transform:uppercase;

    li {
        display: inline-block;
        @include rem(margin-left, $_u2);
    }

    a {
        color:$light;
    }

    i {
        @include font-size(14px);

        // small vertical positioning fix
        position:relative;
        top:1px;
        &.icon-comment {
            top:0px;
        }
    }
}



/**
 * Article List
 * -- Popular Posts Widget
 */
.article--list {
    margin-bottom: 0;

    img {
        @include filter(grayscale(1));
    }

    .badge {
        background-color: #807d7c;
    }
}

    .article--list__title {
        @extend .article__title;
        @include rem(padding, 3px $_u 3px $_u2);
        @include rem(min-height, 54px);
        background-color: #f2edeb;
        color: black;
    }

    .article--list__link {
        @extend .cf;
        display: block;
        position: relative;
        @include rem(margin-bottom, $_u2);

        &:hover {

            .article--list__title {
                @extend .article__title--inverse;
            }

            img {
                @include filter(none);
            }

            .badge {
                background-color: $red;
            }
        }
    }

/**
 * [Widget] Latest Posts Slider
 */
.article--slider {
    @extend %separator--section;
    padding-bottom: 0;
}

    .article--slider__title {
        @extend .article__title--inverse;
        @extend .article__title--full;

        h3 {
            line-height:1.5;
        }

        .hN {
            @extend .epsilon;
        }
    }

    .article--slider__meta {
        @include rem(padding, $_u4 $_u);
        // @include rem(margin-bottom, $_u2);
    }

.article--single__meta {
    @extend %separator--section;
    @include rem(padding-top, $_u);
}




/*---------------------------------*\
        CUSTOM PAGE BUILDER
\*---------------------------------*/


/**
 * Hero Posts Module
 */
 .article--thumb .image-wrap {

}

.article--thumb__title {
    line-height: 1;

    a {
        color: $dark;
        &:hover {
            color:$accent;
        }
    }
}




/**
 * Posts Grid Cards ( ++styling if flexbox is supported )
 */

.flexbox .posts-grid-cards {

        @media screen and (min-width: 1023px) { 

            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            
            align-items:stretch;
            -ms-flex-align: stretch;

          .grid__item {
             
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;

            position:relative;
          }

          article {
              position:relative;

              & > div {
               
              }
              .article--grid__body {
                padding-bottom:42px;
              }
              .article__meta {
                margin-bottom:0;
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
              }
          }
      }

}



/**
 * Billboard Slider Module
 */
.billboard {
    position: relative;
    @include rem(margin-bottom, $_u);
}

.article--billboard {
    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    border-bottom:#{$_2u - 5px} solid #fff; 
}

.billboard__category {
    @include rem(margin-left, -$_u);
    @include rem(padding, $_u4 $_u);
    float: left;
    background: black;
    background: rgba(black, .75);
    font-family: $alt-font-family;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.article--billboard__header {
    position: absolute;
    top:auto;
    @include rem(bottom, $_u);
    @include rem(left, $_2u);
    z-index: 30;
    @include font-size(14px);
}

.article--billboard__title {
    background: white;
    color: $dark;
    @include rem(margin, 0 0 0 #{-$_2u});
    @include rem(padding, $_u2 $_u2 $_u2 $_2u);
    clear: left;
}

//  Small Articles

.article--billboard-small {
    @extend %separator--section;
    padding-bottom: 0;
    background: white;
    @include rem(width, $_8u);
    @include rem(max-height, 280px);
    position: absolute;
    z-index: 40;
    bottom: 0;
    top:auto;
    left:auto;
    @include rem(right, 9 * $_u + $_u4 * 3);

    .small-link {
        display: block;
        @include rem(margin, 0 $_u2 $_u4);
    }

    + .article--billboard-small {
        @include rem(right, $_u);
        
    }
}

.article--billboard-small__title {
    @include rem(height, $_3u);
    @include rem(margin, $_u2);
    overflow: hidden;

    .hN {
        max-width: 100%;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        @extend .gamma;
    }
}