/*--------------------------------*\
               FOOTER
\*--------------------------------*/

.site-footer {
    @include rem(padding-top, $_u + $_u2);
    background: $dark;
    @include rem(font-size, 14px);
    color: #a6a1a1;

    a {
        color: #a6a1a1;
    }
}

// rename and @extend this

/*ul*/.widget__menu {
    @extend .multi-list;
    @extend .two-cols;
    @include rem(margin-top, -$_u2);

    > li {
        @include rem(padding, $_u2 0);

        + li + li {
            border-top: 1px solid #262525;
            margin-top: -1px;
        }
    }
}

.colophon {
    background: black;
    @include rem(padding, $_u2 0);
}