/*--------------------------------*\
               FOOTER
\*--------------------------------*/

.site-footer {
    @include rem(padding-top, $_u + $_u2);
    background: $dark;
    @include rem(font-size, 14px);
    color: #a6a1a1;

    a {
        color: #a6a1a1;
    }
}

.colophon {
    background: black;
    @include rem(padding, $_u2 0);
}