/*--------------------------------*\
               FOOTER
\*--------------------------------*/

.site__footer {
    background: $dark;
    @include rem(font-size, 14px);
    color: #a6a1a1;

    a {
        color: #a6a1a1;

        &:hover {
            color: white;
        }
    }
}

.footer__sidebar {
    @include rem(padding-top, $_u + $_u2);
}

.footer__copyright {
    background: black;
    @include rem(padding, $_u2 0);
}