/*--------------------------------*\
               HEADER
\*--------------------------------*/

.site-header {
    @include rem(height, $_6u);
}





/*----------------------------------------*\
    $TITLE/LOGO
\*----------------------------------------*/
@include media-query(lap-and-up) {
    .site-home-title{
        @include rem(height, $_6u);    
        display: table;
        margin-bottom: 0;
    }

    .site-home-link{
        display: table-cell;
        vertical-align: middle;
    }
}

.site-home-link{
    img{
        max-height: 100%;
    }    
}




/*----------------------------------------*\
    $HEADER BAR(SIDEBAR)
\*----------------------------------------*/
.header-bar{
    @include rem(margin-top, $_2u);
    > li{
        vertical-align: top;
    }

    .search-query{
        // rem does not work properly
        // @include rem(height, $_2u);
        height: 48px;
        @include rem(padding, 0 $_u);
        background-color: $dark;
        border: 0;
        color: $light;
        text-transform: uppercase;
        @include rem(letter-spacing, 2px);
    }

    .search-submit{
        @include rem(height, $_2u);
        @include rem(padding, $_u2);
        vertical-align: top;
        background-color: $dark;
        @include font-size(0.75*$_u);
    }
}


.social-icon-link{
    .header--type1 &{
        @include font-size(24px);
    }

    .header--type2 &,
    .header--type3 &{
        @include font-size(16px);
    }    
}

.header-bar--top{
    margin: 0;

    .search-query{
        height: auto;
        line-height: 36px;
    }

    .search-submit{
        height: auto;
        line-height: 34px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .social-icon-link {
        height: auto;
    }
}

@include media-query(lap-and-up) {
    .header-ad{
        display: none;
    }
}

.header-ad{
    @include rem(margin-top, 1.15*$_u);
    text-align: right;
}

.header-ad-link{
    display: block;
}

//There's a grid in top navigation.
//Each item in the grid has a padding-left of $_u.
//So we need to pull the nav left with $_u
.site-navigation--top{
    @include rem(margin-left, -$_u);
} 

.header--type3{
    .site-home-title{
        width: 100%;
    }

    .site-home-link{
        text-align: center;
    }
}

//When the header hasn't got inverse color,
//hide the striped separator
.nav-top-separator{
    margin: 0;
    display: none;
}





/*----------------------------------------*\
    $TOP NAV INVERSE
\*----------------------------------------*/
.nav-inverse-top{
    .navigation--top{
        background: none;

        a {
            color: black;
            background: none;
        }        
    }

    .site-navigation__sub-menu{
        background: white;

        li{
            @include rem(margin-left, -$_u);
        }
    }

    .sub-menu, .sub-menu--mega{
        background-color: white;        
    }
}





/*----------------------------------------*\
    $MAIN NAV INVERSE
\*----------------------------------------*/
.nav-inverse-main{
    .navigation--main {
        background: none;        

        .sub-menu, .sub-menu--mega{
            .menu{
                background-color: white;
                border: 1px solid black;
            }
        }        
    }

    @include media-query(lap-and-up) {
        .nav-top-separator{
            display: block;
        }
    }

    .navigation--main li {
        color: black;
    }

    //It's either this or the one below.
    //This option will work only if the menu
    //has one one line.
    .nav--main{
        border-bottom: 5px solid $dark;

        >li{
            margin-bottom: -5px;
        }
    }

    .nav--main > li{
        //This is the one below.
        //This works with multi-line menu but
        //will not stretch to 100% of the menu
        //border-bottom-color: $dark;

        border-top-width: 0;
        background: transparent;

        a{
            color: black;
        }     

        &:hover{
            background: transparent;

            > a{
               color: black;
            }
        }

        .article--billboard-small {
            background-color: white;

            .hN{
                color: black;
            }
        }
    }

    .header--type1 {
        .search-query, .search-submit, .social-icon-link {
            color: black;
            background-color: transparent;
        }



        .search-submit {
            border: none;
        }

        .header-bar > li {
            border: 1px solid #dedede;
        }
    }
}


