/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/

.navigation {
    background-color: $dark;
    @include font-size(14px);
}

.navigation--top {

    a {
        color: #a6a1a1;
    }
}

.navigation--main {

    a {
        color: white;
    }
}



/*ul*/.site-navigation--main {
    @extend .nav;
    text-transform: uppercase;
    overflow: hidden;
}

    /*li*/.menu-item--main {

        a {
            display: block;
            @include rem(padding, $_u2 $_u);
        }

        &.current-menu-item,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &:hover, &:focus, &:active {
            
        }
    }