/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/

.navigation {
    background-color: $dark;
    @include font-size(14px);
}

.navigation--top {

    a {
        color: #a6a1a1;
    }
}

.navigation--main {

    a {
        color: white;
    }
}



/*ul*/.site-navigation--main {
    @extend .nav;
    text-transform: uppercase;
    position: relative;
}

    /*li*/.menu-item--main {
        position: relative;

        a {
            display: block;
            @include rem(padding, $_u2 $_u);
        }

        &.current-menu-item,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &:hover, &:focus, &:active {
            
        }
        
        &:hover > .site-navigation__sub-menu {
            display: block;
        }
    }

.site-navigation__sub-menu {
    @extend .nav;
    @extend .nav--stacked;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 300;
    background-color: $dark;
    @include rem(width, 240px);

    .site-navigation__sub-menu {
        top: 0;
        left: 100%;
    }
}    