/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/

.navigation--top{
    @include font-size(12px);
    background-color: #050505;
}

.navigation--main{
    @include font-size(14px);
    background-color: $dark;
}

.navigation--mobile{

}


/**
 * Top Bar Navigation - including Top Menu Left and Top Menu Right
 */
.navigation--top {
    .nav {
        margin-bottom:0;
    }
}

.nav--main {
    @extend .cf;
    position: relative;

    > li {
        border: 0 solid transparent;
        background-color: transparent;
        float: left;
    
        a {
            color: #a6a1a1;
        }

        > a {
            @include rem(padding, $_u4 $_u);
            text-transform: uppercase;
        }
    }
}

.nav__item--relative {
    position: relative;
}


/**
 * Hover effects
 * And other stuff for bigger screens
 */
@include media-query(lap-and-up) {
    .nav--main {
        li {
            @include transition(all .05s linear);
            background-color: #262525;

            &:hover {
                border-bottom-color: $accent;

                > a {
                    color: white;
                }

                @include media-query(lap-and-up) {
                    > .sub-menu {
                        display: inline-block;
                    }
                }
            }
        }

        > li {
            @include rem(border-top-width, 5px);
            @include rem(border-bottom-width, 5px);
        
            &:hover {
                background-color: #262525;
            }

            a {
                color: #a6a1a1;
            }

            > a {
                @include rem(padding, $_u4 $_u);
                text-transform: uppercase;
            }
        }
    }
}


/*----------------------------------------*\
    $SUBMENUS
\*----------------------------------------*/

/*ul*/.sub-menu {
    @extend .nav;
    @extend .nav--stacked;

    padding-top: 0;
    border-bottom: 0;
    margin-bottom: 0;

    white-space: normal;

    top: 100%;
    left: 0;
    z-index: 300;

    @include rem(padding, 5px);

    @include media-query(palm) {
        @include rem(padding-left, $_u);
    }

    @include media-query(lap-and-up) {
        @include rem(width, $_8u + $_u2 + $_u4);
        background: black;
        background-clip: padding-box;        
        position: absolute;
        display: none;
    }

    > li {
        position: relative;

        > a {
            @include rem(padding, $_u4 #{$_u - 5px});
        }

        @include media-query(lap-and-up) {
            + li > a {
                border-top: 1px solid #333131;
                margin-top: -1px;
            }
        }
    }

    .sub-menu {
        top: 0; 
        left: 100%;
        @include rem(margin-top, -5px);
    }
}

/*div*/.sub-menu--mega {
    @extend .sub-menu;
    border: 0;
    @include rem(border-bottom, $_u solid rgba(black, .5));
    // margin-top: 0;
    width: 100%;

    .featured-area__article {
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        position: absolute;
        height: 100%;

        .image-wrap {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                max-width: none;
            }
        }
    }

    .nav--sub-menu {
        width: 100%;
        left: 0;
        display: block;
        padding-left: 0;
    }

    .rsOverflow {
        @include transition(none !important);
    }
}

    .sub-menu__grid {
        @extend .cf;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
    }

    .sub-menu__grid__item {
        @include rem(margin-bottom, -$_u);
        @include rem(min-height, $_2u);
        background-color: #262525;
        float: left;

        flex: 0 1 auto;
        align-self: auto;

        position: relative;
        background-clip: content-box;

        // change padding to border for the gutter
        // this way we can make the slider to cover the right amount of space
        padding-left: 0 !important;
        @include rem(border-left, $_u4 solid transparent);

        .nav--sub-menu {
            background-color: #262525;
            @include rem(border-bottom, 5px solid black);
            padding-right: 0;
            padding-top: 0;
            margin-top: 0;
        }

        .pixslider {
            position: absolute;
            top: 0;
            left: 0;
            height: 100% !important;
            width: 100%;
            @include rem(min-height, $_3u);
        }
    }


// .site-navigation--top, .translation-bar{

//     li:last-child:after{
//         border-right: 0;
//     }

//     li{
//         &:after{
//             content: '';
//             border-right: 1px $light dotted;
//         }
//     }
// }

// .site-navigation--top > li:first-child a{
//     @include rem(margin-left, -$_u);
// }

// .site-navigation__sub-menu li{

//     &:after{
//         border: 0;
//     }
    
//     a{
//         margin-left: 0 !important;
//     }
// }

// .translation-bar{
//     li:last-child a{
//         @include rem(margin-right, -$_u);
//     }    
// }

// .translation-bar-container{
//     text-align: right;
// }





/*----------------------------------------*\
    $MOBILE NAVIGATION
\*----------------------------------------*/
@include media-query(palm) {
    #page{
        overflow: hidden;
    }

    .header{
        position: absolute;
        width: 100%;
        @include rem(height, 3*$_u);
    }

    .navigation--top{
        display: none;
    }

    .navigation--main{
        display: none;
    }

    .header-bar-container{
        display: none;
    }

    .site-navigation--main{
        > li{
            display:list-item;

            > a{
                display:block;
            }
        }        
    }

    .site-navigation--header{
        @include rem(margin-left, $_u);
    }
}

.navigation--mobile{
    // height: 900px;
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: visibility 0s linear .2s;

    background-color: $dark;
    
    .admin-bar &{
        top: 28px;
    }

    .nav--main > .menu-item{
        width: 100%;
        border-bottom: 1px solid $light;

        a{
            display: block;
            color: white !important;
        }
    }

    .menu-item a{
        @include rem(padding-top, $_u2);
        @include rem(padding-bottom, $_u2);
    }
}

.wrapper {
    height: 100%;
    min-height: 350px;

    position: relative;
        
    background-color: white; 
    z-index: 1;
    @include transform(translateZ(0));
    @include transition(transform .25s ease-in-out);
}

.site-navigation__trigger {
    display: none;
    @include transition(color 1s ease-in-out);
    // -webkit-tap-highlight-color:rgba(0,0,0,0);

    &:active, &:focus {
        color: white;
        @include transition(color .1s ease-in-out);
    }

    @include media-query(palm) {
        display: block;
        @include rem(width, 3*$base-spacing-unit);
        @include rem(height, 3*$base-spacing-unit);
        position: absolute;
        top: 0; right: 0;
        @include font-size(42px);
        text-align: center;
        cursor: pointer;
        color: #807f7d;
    }

    i {
        display: block;
        position: absolute;
        @include rem(top, $half-spacing-unit + 2px);
        @include rem(left, $half-spacing-unit);
        overflow: hidden;
    } 

    .icon-reorder {
        @include transition(opacity .2s, transform .3s);
    }

    .icon-remove {
        @include transition(opacity .2s, transform .4s);
        @include transform(rotate(45deg));
        @include opacity(0);
    }
}

.navigation--is-visible {

    .navigation--mobile{
        height: 100%;
        visibility: visible;
        z-index: 1;
        -webkit-transition: z-index 0s linear .2s;
        overflow-y: scroll;        
    }

    .wrapper {
        @include transform(translateX(-75%));
        position: absolute;
        min-width: 320px;
    }

    .icon-remove {
        @include transform(none);
        @include opacity(1);
    }

    .icon-reorder {
        @include transform(rotate(-45deg));
        @include opacity(0);
    }    
}



// Stuff
.nav--top {
    // display: none;

    li {
        background-color: #262525;
    }

    > li {
        background: none;
        position: relative;

        a { 
            color: #807d7c;
        }

        > a {
            text-transform: uppercase;
        }

        + li {

            > a {
                position: relative;

                &:before {
                    content: "";
                    display: block; 
                    position: absolute;
                    @include rem(top, $_u4);
                    left: 0;
                    @include rem(height, $_u);
                    border-left: 1px dotted $gray;
                }
            }
        }

        /*li*/&.current-menu-ancestor > a {

        }
        
        /*li*/&.current-menu-parent > a {
            
        }

        /*li*/&.current-menu-item > a {

        }

        .sub-menu {
            @include rem(width, $_8u);
            @include font-size(14px);
            // @include rem(margin-left, -4px);
        }
    }

    li {

        &:hover {
            > a {
                color: white;
            }
            
            > .sub-menu {
                display: block;
            }
        }
    }
}

.nav--top-left {
    @include rem(margin-left, -$_u2);
}

.nav--top-right {
    text-align: right;

    .sub-menu {
        text-align: left;
    }
}

.header-bar--top {
    @include rem(margin-right, -$_u2);
}