.shc-arrow {
	display: block;
	@include rem(width, 3*$unit);
	@include rem(height, 2*$unit);
	position: relative;
	@include rem(margin-bottom, $unit);

	&:before {
		content: "";
		position: absolute;
		@include rem(top, $unit + 1px);
		left: 0;
		width: 100%;
		border-top: 3px solid transparent;
		border-top-width: rem(3px);
	}

	&:after {
		content: "";
		@include rem(width, $unit);
		@include rem(height, $unit);
		position: absolute;
		@include rem(top, $unit/2);
		@include rem(right, 5px);
		border: 3px solid transparent;
		border-width: rem(3px);
		@include transform(rotateZ(45deg));
	}
}

.lt-ie9, .ie9 {
	.shc-arrow {
		display: none;
	}
}

//Styling Inherit from Block

//Block (default white) -> arrow dark
.block {
	.shc-arrow {
		&:before,
		&:after {border-top-color: $grayDark}
		&:after {border-right-color: $grayDark}	
	}
}

.block-darkest {
	.shc-arrow {
		&:before,
		&:after {border-top-color: $white}
		&:after {border-right-color: $white}	
	}
}

//Block Light -> arrow accent
.block-light {
	.shc-arrow {
		&:before,
		&:after {@extend %accentBorderTopColor}
		&:after {@extend %accentBorderRightColor}
	}
}

//Block Dark -> arrow white
.block-dark, .block-darker {
	.shc-arrow {
		&:before,
		&:after {border-top-color: $white}
		&:after {border-right-color: $white}	
	}
}

//Block Color -> arrow white
.block-color {
	.shc-arrow {
		&:before,
		&:after {border-top-color: $white}
		&:after {border-right-color: $white}	
	}
}











// .shc-arrow-accent {
// 	&:before,
// 	&:after {@extend %accentBorderTopColor}
// 	&:after {@extend %accentBorderRightColor}
// }

// .shc-arrow-graylightest {
// 	&:before,
// 	&:after {border-top-color: $grayLightest}
// 	&:after {border-right-color: $grayLightest}	
// }

// .shc-arrow-graylighter {
// 	&:before,
// 	&:after {border-top-color: $grayLighter}
// 	&:after {border-right-color: $grayLighter}	
// }

// .shc-arrow-graylight {
// 	&:before,
// 	&:after {border-top-color: $grayLight}
// 	&:after {border-right-color: $grayLight}	
// }

// .shc-arrow-gray {
// 	&:before,
// 	&:after {border-top-color: $gray}
// 	&:after {border-right-color: $gray}	
// }

// .shc-arrow-graydark {
// 	&:before,
// 	&:after {border-top-color: $grayDark}
// 	&:after {border-right-color: $grayDark}	
// }

// .shc-arrow-graydarker {
// 	&:before,
// 	&:after {border-top-color: $grayDarker}
// 	&:after {border-right-color: $grayDarker}	
// }

// .shc-arrow-graydarkest {
// 	&:before,
// 	&:after {border-top-color: $grayDarkest}
// 	&:after {border-right-color: $grayDarkest}	
// }