.separator {

  @include media(to lap) {
    display: none;
  }

  @include rem(width, 4*$unit);
  height: 0;
  @include rem(margin, $unit/2 auto $unit/2);
  border: 0;
  @include rem(border-top, 4px solid $grayDark);
  position: relative;

  &:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    @include rem(border, 8px solid transparent);
    border-top-color: $grayDark;
    @include rem(margin-left, -8px);
    position: absolute;
    top: 0; left: 50%;
  }

  //Alignment
  &.left {
    margin-left:0;
  }
  &.right {
    margin-right:0;
  }

  //Colors
  &.light {
    &, &:before {
      border-top-color: #f0f0f0;
    }
  }
  &.color {
    &, &:before {
      border-top-color: $accentColor;
    }
  }

}
