.shc-infobox{
  display: block;
  @include rem(margin-bottom, $unit);
  position:relative;
  z-index:10;

  @include media(from hand) {
    text-align: left;
  }

  @include media(from lap) {
    text-align: left;
  }

  @include media(from lap) {
    @include rem(padding-left, 68px);
    @include rem(margin-left, -72px);
  }  

  &.align-center {
    text-align: center;
    @include rem(padding-right, 68px);
    @include rem(margin-right, -72px);
  }

  &.align-left {
    text-align: left;
  }

  &.align-right {
    text-align: right;
    @include rem(padding-right, 68px); 
    @include rem(margin-right, -72px);
  }

  @include media(from lap) {

    &.border-left {
      border-left: 4px solid $accentColor; 
    }

    &.border-right {
      border-right: 4px solid $accentColor; 
    }

    &.border-left-right {
      @extend .border-left;
      @extend .border-right;
    }
  }


}

.infobox-title {
  @include rem(margin-top, -$unit/2);
  line-height: 1.2;
  display: inline;
}

.infobox-subtitle { 
  font-weight: normal;
  color:$gray;
  @include rem(margin-bottom, $unit/2);
  @include rem(margin-left, 5px);
}