.progressbar {
  @include rem(margin, $unit 0 3/2*$unit);
  @include scale(1);
  opacity:1 !important; 
}

.progressbar-bar {
  position: relative;
  // overflow-x: hidden;
  width: 100%;
  @include rem(height, 5px);
  background: #e6e6e5;
}

.progressbar-title {
  @extend %heading;
  @include fs(17px);
  @include rem(margin-bottom, $unit/2);
}

.progressbar-progress {
  @extend %accentBgColor;
  position: absolute;
  top: 0; left: 0;
  width:0; 
  @include rem(height, 5px);
  @include transition(all 1s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000));
}

.progressbar-marker {
  position: absolute;
  top: 0; left: 0;
  @include rem(height, 5px);
  border-right: 2px solid $white;
}

.progressbar.is-visible {

  .progressbar-tooltip {
    @include opacity(1);
  }
}

.progressbar-tooltip {
  @include rem(font-size, 14px);
  @include rem(width, 56px);
  position: absolute;
  @include rem(top, -22px); 
  right: -30px;
  @include transition(opacity .3s 1.4s ease-in);
  @include opacity(0);

  font-weight:800;
  color: $grayDark;
  text-align: center;
  letter-spacing:1px;
  z-index: 10;  
  display: block;
}