.team-member-image-link{
    display: block;
    position: relative;

    @include media(small hand) {
        float: left;
        width: 30%;
        @include rem(margin-right, $base-spacing-unit);
    }

    &:hover > .team-member-profile-container{
        @include opacity(1);
    }

    img{
        width: 100%;
        height: auto;
    }
}

.team-member-profile-container{
    @include rem(margin, $half-spacing-unit 0);

    @include media(from lap) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        background-color: rgba($accent-color, 0.5);
        @include opacity(0);
        @include transition-property(opacity);
        @include transition-duration(0.3s);    
    }
}

.team-member-profile-table{
    display: table;
    height: 100%;
    width: 100%;
}

.team-member-profile-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    @include media(to lap) {
        text-decoration: underline;        
    }    
}

.team-member-image-container{
    img{
        vertical-align: top;
    }
}

.team-member-name{
    @include rem(margin, $half-spacing-unit 0);
}

.team-member-position{
    @include rem(margin, $half-spacing-unit 0);
}

.team-member-name, .team-member-position,
.team-member-description p{
    text-align: center;
    
    @include media(small hand) {
        text-align: left;
    }

    @include media(from lap){
        text-align: left;
    }
}

.team-member-social-links{
    text-align: center;

    @include media(small hand) {
        text-align: right;
    }
    
    @include media(from lap){
        text-align: left;
    }    
}

.team-member-social-link{
    display: inline-block !important;

    .social-link{
        @include rem(padding, $half-spacing-unit/2);
    }
}