/**
*	CityHub
* Testimonials Shortcode
*****************************************************/

.shc.testimonial {
	@include rem(margin-bottom, $unit);
	
	.author_name {
		display: block;
		color: $grayLight;
		white-space: nowrap;
		text-align: right;
		position: relative;
		@include fs(18px);
		@include rem(margin-top, -1/2*$unit);
		border: 0;
	}
}

//Testimonials

.testimonials-slider {
	@extend %clearfix;
	@include rem(margin-bottom, $unit);
	height: auto !important;
	position: relative;
}

.testimonials-list {
	@extend %unstyled;
	@extend %clearfix;
	margin: 0;
	color: $grayDarkest;
}

.testimonial-item.slide {
  position: relative;
  
	.lt-ie9 & {
		display: none !important;
	}
}

.testimonial-item.slide.flex-active-slide{
  z-index: 10;

	.lt-ie9 & {
		display: block !important;
	}
}

.testimonial-item {

	@include media(from lap) {
	}

	@include opacity(0);
	overflow: hidden;
	@extend %easeInOutQuad;

	&.row {
		margin-left: 0;
	}
	
	&.flex-active-slide {
		@include opacity(1);
	}

	@include media(to lap) {
		@include rem(margin-bottom, 2*$unit);
	}


	.testimonial-left {
		vertical-align: top;
		border-left-width: 0;
		width:100%;
		float:left;

	 	@include media(from lap) {
	 		width:35%;
	 	}
	}
	.testimonial-right {
		border-left-width: 0;
		
		float:right;
		@include media(from lap) {
	 		width:65%;
	 	}
	}
} 


.testimonial-content {
	font-family: "Georgia", serif;
	font-style: italic;
	@include fs(14px);
	color:#4c4c4c;
	@include rem(padding, $unit 2*$unit $unit/2);

	position:relative; //Useful for positioning of Open and Close quotes

	p {
		letter-spacing:0;

		@include media(from hand) {
			@include fs(16px);
		}

		@include media(from desk) {
			@include rem(font-size, 22px);
			line-height:1.5;
		}
	}

	@include media(from lap) {
		@include rem(padding, 1.5*$unit 2*$unit);
		@include rem(margin-left, 1.5*$unit);
	}
	
	&:before, &:after {
		@include fs(70px);
		font-style:normal;
		font-weight:bold;
		position:absolute;
	}
	&:before {
		 content: "\201C";
		 color:$accentColor;
		 top:0;
		 left:0;
	}
	&:after {
		content: "\201D";
		color:#cccccc;
		bottom:0;
		right:0;
	}
}

.testimonial-avatar {
	display: block;

	@include media(from lap){	
		overflow: hidden;
		@include rem(min-height, 300px);
	}

	img {
		width: 100%;
		margin: 0 auto;
	}
}

.testimonial-author {

	@include media(from lap) {
		position: absolute;
		@include rem(bottom, 1.5*$unit);
		// bottom: 2*$unit;
		border-left: 4px solid white;
		
	}
}

.testimonial-author_name {
	@include fs(18px);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color: white;

	background-color: $accentColor;
	float:left;

	@include rem(padding, $unit 1.5*$unit $unit 1.5*$unit);

	@include media(to lap) {
		color:$grayDark;
		text-align:center;
		background:none;
		width:100%;
		padding:0;
	}

	@include media(from desk) {
		@include fs(24px);
	}
}

.testimonial-author_position {
	@include fs(13px);
	@include rem(padding, 0 0 0 1.5*$unit);
	float:left;

	//Vertical Align
	@include display-flex();
	@include align-items(center);
	min-height:100px;

	@include media(to lap) {
		width:100%;
		text-align:center;
		display:block;
		@include rem(padding, $unit/2 0);
	}

	@include media(from desk) {
		@include fs(14px);
	}

}

// Arrows Navigation
.testimonials-slider {

	.flex-direction-nav {
		position:absolute;
		width:100%;
		bottom:50%;
		
		.flex-prev, .flex-next {
			@extend .testimonial-author_name;
			@extend .hide-text;
			@include rem(width, $offset);
			@include rem(padding, 1.5*$unit 0);
			background-color: $accentColor;

			position: absolute;
			bottom: 0;
		}

		.flex-prev {
			@extend .ch-arrow-right;
			@include rem(left, -($offset));
			border-right: 4px solid white;
		}

		.flex-next {
			@extend .ch-arrow-left;
			@include rem(right, -($offset));
			border-left: 4px solid white;
		}

		@include media(from lap) {
			@include rem(bottom, 1.5*$unit); // Same as .testimonial-author
		}
	}
}