/*----------------------------------------*\
*   $TWITTER WDIGET
\*----------------------------------------*/
.widget-tweets__list{
    width: 100%;
}
    .widget-tweets__tweet{
        display: block;
        width: 100%;
    }

    .tweet__content a{
        color: $gray;
    }

    .tweet__meta{
        text-align: right;
        font-family: "Josefin Slab", serif;
        @include font-size(15px);
    }

        .tweet__meta-username a{
            color: $gray;
            text-decoration: none;
        }

        .tweet__meta-date{
            &:before{
                content: "\2014";
                @include rem(margin, 0 5px);
            }
        }