/*----------------------------------------*\
*   $FLICKR WIDGET
\*----------------------------------------*/

.widget .wpgrade-flickr-items{
    @include rem(margin-left, -1 * $half-spacing-unit);
}

.wpgrade-flickr-item{
    @include rem(border-left, $half-spacing-unit solid transparent);
    @include rem(margin-bottom, $half-spacing-unit);
    display: block;
    float: left;
    width: percentage(1/3);

    img{
        display: block;
        width: 100%;
        height: auto;
    }
}

    .wpgrade-flickr-link{
        display: block !important;
    }