/*----------------------------------------------*\
               $POPULAR POSTS WIDGET
\*----------------------------------------------*/

.wpgrade_popular_posts {
    @extend %separator--section;
    padding-bottom: 0;

    .widget__title {
        margin-bottom: 0;
    }
}

.popular-posts__time {
    @extend .nav;
    @extend .nav--fit;
    @include rem(padding, $_u4 $_u);
    color: white;
    background: $dark;
    text-transform: uppercase;
    font-family: $heading-font-family;
    @include rem(font-size, 13px);
    @include rem(margin-bottom, $_u);

    a {
        color: white;
        text-decoration: none;

        &.current, &:hover {
            color: $red;
        }
    }
}

.tabs__content {
    position: relative;
    min-height: 1px;
    @include transition(height .3s ease-in-out);
    overflow: hidden;
    @include rem(margin-bottom, $_u2);
    @include rem(margin-right, -$_u);
}

.tabs__pane {
    position: absolute;
    @include transition(opacity .3s ease-in-out);
    -webkit-backface-visibility: hidden;
    @include translate3d(0,0,0);
    @include rem(margin-right, $_u);

    &.hide {
        opacity: 0;
    }
}