/*-----------------------------------------------*\
               $LATEST REVIEWS WIDGET
\*-----------------------------------------------*/

.reviews {
    @extend .island;
    background-color: $dark;
    color: white;
    border-left: 0;
    list-style: none;
    margin-left: 0;

    .badge {
        float: right;
	    margin-top: 1px;
        @include rem(margin-bottom, -$_u4);
        @include font-size(19px);
        padding: .35em 0;
        position: relative;
        z-index: 10;
    }

    .progressbar {
        @include rem(height, $_u4);
        background-color: $gray;
        clear: right;

        &:after {
            display: none;
        }
    }

    .progressbar__progress {
        @include rem(height, $_u4);
    }
}

.review {
    @include rem(margin-bottom, $_u2 + $_u4);
}

.review__title {
    display: inline-block;
    font-family: $heading-font-family;
    font-weight: normal;
    text-transform: uppercase;
    color: white;

    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;

    // ugly
    width: 100%;
    @include rem(margin-right, -$_u);
    @include rem(padding-right, $_u);
}