/*----------------------------------------*\
*   $RSS WIDGET
\*----------------------------------------*/

.widget_rss {
    @extend .widget_recent_comments;

    li{
        @include rem(margin-bottom, $half-spacing-unit);
    }
}

.rsswidget{
    font-weight: bold;
}

.rss-date{
    @include font-size(14px);
}




