/*----------------------------------------*\
*   $SEARCH WIDGET
\*----------------------------------------*/
.form-search{
    @include rem(margin-right, -2 * $base-spacing-unit);
    border-bottom: 1px dotted black;
    @extend .row;
    margin-left: 0;
}

    .search-query{
        @extend .col-8;
        @include rem(padding, $half-spacing-unit 0);
        border: 0;
        font-family: "Josefin Slab", serif;
        @include font-size(18px);
        font-weight: bold;
        text-transform: uppercase;
        color: black;
    }

    .form-search .btn{
        @extend .col-2;
        @include rem(padding, $half-spacing-unit 0);
        @include font-size(16px);
        background: none;
        border: none;
    }




