.widget_wpgrade_twitter_widget {

    .widget__title {

        em {
            color: white;
        }

        h3:before {
            content: "\e8f1";
            font-family: "entypo";
            font-style: normal;
            font-weight: normal;
            @include font-size(24px);
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            // width: 1em;
            margin-right: .5em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            color: $red;
        }
    }
}