.widget {
    @include rem(margin-bottom, $base-spacing-unit);
    clear: left;

    a:hover{
        text-decoration: underline;
    }

    ul{
        @extend .nav;
        // @extend .nav--stacked;
    }

    img{
        max-width: 100%;
        height: auto;
    }
}

.widget__title {
    
    a {
        text-decoration: none;
    }
}

.widget--header {

    a {
        color: $light;

        &:hover {
            color: $accent-color;
        }
    }
}

.widget--sidebar {

    a{
        color: $gray;
        text-decoration: none;
    }
}

    .widget-title{
        color: black;
        @include rem(margin, 0 0 $half-spacing-unit 0);
    }

    .widget-content{
        font-family: "Crimson Text", serif;
        @include font-size(16px);
    }

    @include media(from hand){
        .widget--half-size{
            width: 50%;
            float: left;    
        }
    }

// @import "archive";
// @import "categories";
// @import "nav-menu";
@import "dribbble";
@import "flickr";
@import "gallery";
@import "instagram";
@import "pages";
@import "search";
@import "twitter";
@import "recent-comments";
@import "recent-entries";
@import "rss";
@import "text";
@import "meta";

.widget_tag_cloud{

    a{
        text-decoration: none;
        font-size: inherit !important;   
    }
}


.sidebar--right{
    @include rem(padding, $base-spacing-unit);
    @include rem(padding-left, $half-spacing-unit);

    .widget {
        @include rem(margin-bottom, 2 * $base-spacing-unit);
        @include rem(padding-left, $half-spacing-unit);
    }

    @include media(from lap) {
        @include rem(padding, 2 * $base-spacing-unit);
        @include rem(padding-left, $base-spacing-unit);

        .widget {
            @include rem(padding-left, $base-spacing-unit);
        }
    }

    select {
        max-width: 100%;
    }

    .widget_categories, .widget_archive, .widget_pages, .widget_meta, .widget_tag_cloud, .widget_nav_menu {
        width: 50%;
        float: left;
        clear: none;

        a {
            text-decoration: none;
            display: inline-block;
            padding: .25em 0;
        }

        &, a {
            color: #595957;
        }
    }
}

.widget_categories, .widget_archive, .widget_pages, .widget_meta, .widget_tag_cloud, .widget_nav_menu {

    ul > li {
        display: block;
    }
}



// calendar widget

#wp-calendar {

    thead, tbody {
        th, td {
            text-align: center;
        }
    }

    th, td {
        padding: 0;
    }

    tfoot a {
        text-decoration: none;
    }
}

.header {

    .widget__title {
        @include rem(font-size, 13px);
    }
}

.sidebar--header {
    overflow: hidden;
    color: #a7a7a7;

    a {
        color: #bbb;
    }
}