/*---------------------------------*\
               $WIDGET
\*---------------------------------*/

.widget {

    select {
        max-width: 100%;
    }
}

.widget--main {
    @include rem(margin-bottom, $_u);
}

.widget--sidebar__title {
    @extend .heading;
    @extend .heading--sidebar;
}


.widget--footer {
    @include rem(margin-bottom, $_2u);
}

.widget--footer__title {
    @extend .heading;
    @extend .heading--footer;

    em {
        color: $red;
        font-style: normal;
    }
}





/*-----------------------------------*\
               TAG CLOUD
\*-----------------------------------*/

.widget_tag_cloud {

    .wp-tag-cloud {
        @extend .btn-list;
    }

    a {
        @extend .btn;
        @extend .btn--negative;
        @include rem(font-size, 12px !important);
    }
}





/*-----------------------------------------*\
               WIDGET NAV MENU
\*-----------------------------------------*/


// rename and @extend this

.widget_nav_menu {
    
    ul {

        @extend .multi-list;
        @extend .two-cols;
        @include rem(margin-top, -$_u2);

        > li {
            @include rem(padding, $_u2 0);

            + li + li {
                border-top: 1px solid #262525;
                margin-top: -1px;
            }
        }

        ul {
            display: none;
        }
    }
}

.widget--sidebar__title .rsswidget img {
    display: none;
}