@include media(to lap) {
    .page-content{
        @include rem(padding, 0 $base-spacing-unit);           
    }
}

@include media(from lap) {
    .page-content{
        @include rem(width, 890px);
        max-width: 100%;
        @include rem(padding-left, 2 * $base-spacing-unit);   
        padding-right: 0;
    }

    .page-content.project-sidebar-right{
        max-width: none;
    }

    .page-content, .sidebar{
        float: left;
    }

    .sidebar{
        @include rem(width, 430px);
    }
}

.sidebar{
    @include rem(padding, 2 * $base-spacing-unit);
}

@include media(from lap){
    .wrapper{
        height: 100%;
    }
}



/*----------------------------------------*\
*   $SINGLE STYLING
\*----------------------------------------*/

@include media(from lap){
    .single-post{
        .page-content{
            @include rem(padding-left, 10 * $base-spacing-unit);
        }

        .featured-image-wrapper{
            @include rem(margin-left, -10 * $base-spacing-unit);
        }   
    }
}

.featured-image-container img{
    width: 100%;
    height: auto;
    display: block;
}


/*----------------------------------------*\
*   $FULL WIDTH
\*----------------------------------------*/

.full-width .featured-image-wrapper{
    max-width: 100%;
    margin: 0;
    padding: 0;
}