@include media(to lap) {
    .page-content{
        @include rem(padding, 0 $base-spacing-unit);           
    }
}

@include media(from lap) {
    .page-content{
        @include rem(width, 890px);
        max-width: 100%;
        @include rem(padding-left, 2 * $base-spacing-unit);   
        padding-right: 0;
    }

    .page-content.project-sidebar-right{
        max-width: none;
        width: 100%;
    }

    .single-portfolio-sidebar .content{
        @include rem(width, 1275px);
    }

    .page-content, .sidebar{
        float: left;
    }

    .sidebar{
        @include rem(width, 430px);
    }
}

.sidebar{
    @include rem(padding, 2 * $base-spacing-unit);
}

@include media(from lap){
    .wrapper{
        height: 100%;
    }
}



/*----------------------------------------*\
*   $SINGLE STYLING
\*----------------------------------------*/

@include media(to lap){
    .single-post{
        .featured-image{
            @include rem(margin-left, -$base-spacing-unit);
            @include rem(margin-right,-$base-spacing-unit);
        }   
    }    
}

@include media(from lap){
    .single-post{
        .page-content{
            @include rem(padding-left, 10 * $base-spacing-unit);
        }

        .featured-image{
            @include rem(margin-left, -10 * $base-spacing-unit);
        }   
    }
}

.featured-image img{
    width: 100%;
    height: auto;
    display: block;
}


/*----------------------------------------*\
*   $FULL WIDTH
\*----------------------------------------*/

.full-width{
    .page-content{
        width: 100%;
    }

    article{
        @include rem(max-width, 890px);
    }
}





/*----------------------------------------*\
    $PAGE
\*----------------------------------------*/
.page .featured-image{
    @include rem(margin-left, -2 * $base-spacing-unit);
}

@include media(to hand) { 
    .page .featured-image{
        @include rem(margin-right, -$base-spacing-unit);
        @include rem(margin-left, -$base-spacing-unit);
    }
}



