.content--shop{
    position: relative;
}

.heading--woocommerce{
    background: transparent;
}

.woocommerce-ordering{
    select{
        background: #f0f0f0;
        border: 0;
    }
}

@include media-query(lap-and-up) {
    .woocommerce-ordering{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.woocommerce-page ul.products{
    margin: 0 -1%;

    li.product.type-product{
        margin: 1%;
        clear: none;
        width: 100%;
    }

    @include media-query(lap-and-up) {
        li.product.type-product{
            width: 23%;
        }
    }
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{
    box-shadow: none !important;
    border-bottom: 5px solid black;
}

.woocommerce ul.products li.product a:hover img{
    border-bottom: 5px solid $accent;
}

.woocommerce ul.products li.product.type-product{
    border-bottom: 1px dotted #b2b2b2;
    padding-bottom: $_u2;
    text-align: center;

    h3, .price{
        text-align: center;
    }

    .added_to_cart{
        display: block;
    }
}

.woocommerce ul.products li.product.type-product h3{
    font-family: $heading-font-family;
    @include font-size(15px);
    color: black;
}

.woocommerce .products .type-product .star-rating, .woocommerce-page .products .type-product .star-rating{
    margin-left: auto;
    margin-right: auto;
}

.woocommerce {
    ins{
        color: $accent;
    }

    .amount{
        font-family: $heading-font-family;
        color: $accent;
    }

    del .amount{
        color: #807d7c;
    }
}

.woocommerce ul.products li.product.type-product .price{
    color: $accent;

    .amount{
        @include font-size(19px);
    }

    del .amount{
        @include font-size(16px);
    }
}

.badge--product{
    width: auto;
    padding: $_u4 $_u2;
    font-size: 12px;
    font-family: $base-font-family;
    text-transform: uppercase;
}

.badge--sold-out{
    background-color: #999999 !important;
    color: white;
}

.nav-woocommerce-pagination ul{
    @extend .nav;
    @extend .pagination;

    span.current{
        background-color: #fb4834;
        color: white;
        display: inline-block; 
    }
}

.woocommerce-ordering select.orderby{
    height: 50px;
    color: #807d7c;
    @include font-size(12px);
    text-transform: uppercase;
    outline: none;

    option{
        padding: $_u2 0;
    }
}

@include media-query(palm) {
    
    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
        float: none;
    }
    
}