$other-color: #464a4d;

.inverse {
  color: white;

  a {
    color: $accent-color;
  }
}

.highlighted{
    color: $accent-color;
}

/**
 * A padding for the span-#
 * Also, floats them left.
 */
.row-shortcode{
    margin: 0 -3%;

    div[class*='span-']{
        padding: 0 3%;
        float: left;
    }
}

/**
 * Ensure that all the links in the post's entry-content
 * are black, that images are 100% in width,
 * nav's are stacked vertically with no bullets,
 * & others.
 */
.entry__content{
    a{
      color: black;

      img{
        width: 100%;
        height: auto;
      }
    }

    ul{
        @extend .nav;
        @extend .nav--stacked;

        li{
            @include rem(padding, $half-spacing-unit/4 0);
            font-family: "Josefin Slab", serif;
            @include font-size(15px);
            font-weight: bold;
        }
    }

    h1, h2, h3{
        color: $dark;
    }

    .social-link{
        display: inline;
        text-decoration: none;

        i{
          color: black;
        }
    }

}





/*-------------------------------*\
    WordPress Core Classes
\*-------------------------------*/

.hidden, [hidden] {display: none !important}

.alignnone {
    // margin: 5px 20px 20px 0;
}

.small {
    @include font-size(14px);
    line-height:1.5;
}

.aligncenter,
div.aligncenter {
    display: block;
    @include rem(margin, $base-spacing-unit/2 auto);
}

.alignright {
    float:right;
    @include rem(margin, 0 0 $base-spacing-unit $base-spacing-unit);
}

.alignleft {
    float: left;
    @include rem(margin, 0 $base-spacing-unit $base-spacing-unit 0);
}



/**
 * Captions .wp-caption styling
 */

.wp-caption{
    display: block;
    max-width: 100%;

    a{
        display: block;

        img{
            width: 100%;
            height: auto;
        }
    }

    .wp-caption-text{
        @include font-size(14px);
        font-style: italic;

        &:before{
            content: "\2014";;
            @include rem(margin-right, 5px);
        }
    }
}

.wp-caption.alignnone {
    // margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 4px 15px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.archive .post.sticky {
    background-color: #f5f5f5;
    @include rem(padding, 10px 20px);
}