/*#main*/.content {
    @extend .cf;
    @extend .row;
    background: white;
    position: relative;

    @include media(to hand) {
        @include rem(top, 3*$base-spacing-unit);
        @include rem(padding-bottom, 3*$base-spacing-unit);
        @include transition(opacity .3s ease-in-out);

        // some dark overlay over the content when the navigation is visible
        .navigation--is-visible & {
            @include opacity(0.15);
        }
    }

    @include media(from hand) {
        @include rem(padding-bottom, 2 * $base-spacing-unit);
        @include rem(margin-left, 250px);
    } 
}

.page-content {
    @include rem(padding-right, $base-spacing-unit);

    @include media(from hand) {
        @include rem(padding-right, 2 * $base-spacing-unit);
    }
}

.page-main, .page-side {
    float: left;
    @include rem(padding-left, $base-spacing-unit);

    @include media(from hand) {
        @include rem(padding-left, 2 * $base-spacing-unit);
    }
}

.page-main {
    width: 100%;

    .single-post & {

        @include media(from 1600px) {
            @include rem(padding-left, 6 * $base-spacing-unit);

            .featured-image {
                @include rem(margin-left, -6 * $base-spacing-unit);
            }
        }

        @include media(from 1750px) {
            @include rem(padding-left, 10 * $base-spacing-unit);

            .featured-image {
                @include rem(margin-left, -10 * $base-spacing-unit);
            }
        }
    }
    
    @include media(from lap) {
        @include rem(max-width, 890px);

        .page-content--with-sidebar & {
            width: 67%;
        }
    }
}

.page-side {
    width: 100%;
        
    @include media(from lap) {
        width: 33%;
        @include rem(max-width, 420px);
    }
}

.featured-image {

    img {
        width: 100%;
    }
}




/*--------------------------------*\
               SINGLE
\*--------------------------------*/

.entry__wrap {
    @extend .cf;

    @include media(from 1600px) {

        @include rem(margin-left, -6 * $base-spacing-unit);

        .entry__content {
            @include rem(padding-top, $base-spacing-unit);
            @include rem(margin-left, 6 * $base-spacing-unit);
        }
    }

    @include media(from 1750px) {

        @include rem(margin-left, -10 * $base-spacing-unit);

        .entry__content {
            @include rem(margin-left, 10 * $base-spacing-unit);
        }
    }
}

.post {
    position: relative;
}

.page, .post {
    .featured-image {
        @include rem(margin, 0 -2*$base-spacing-unit);
    }

    @include media(from lap) {
        .featured-image {
            margin-right: 0;
        }
    }
}

.entry__likes {
    @include rem(padding-top, $base-spacing-unit + 4px);
    @include rem(padding-bottom, $base-spacing-unit);
    @extend .cf;

    @include media(to 1600px) {
        position: absolute;
        top: 0; right: 0;
        @include rem(padding-top, $half-spacing-unit - 4px);
    }

    @include media(from 1600px) {
        @include rem(width, 6 * $base-spacing-unit);
        text-align: center;
        float: left;

        .likes-box {
            display: inline-block;
            float: none;
        }
    }

    @include media(from 1750px) {
        @include rem(width, 10 * $base-spacing-unit);
    }
}




/*-----------------------------------------*\
               PROJECT SIDEBAR
\*-----------------------------------------*/

.project--sidebar__images {

    @include media(from lap) {
        @include rem(padding-top, 2 * $base-spacing-unit);
        @include rem(padding-bottom, $base-spacing-unit);
    }
    
    img {
        width: 100%;
        height: auto;
    }
}

.project--sidebar__content {
    @include rem(padding-top, 2 * $base-spacing-unit);

    .entry__title {
        @include rem(padding-bottom, $half-spacing-unit);
    }

    .social-links__message {

        @include media(lap 1750px) {
            display: none;
        }
    }
}

.project--sidebar__related {
    clear: both;
}

.single-lens_gallery .content{
    padding-bottom: 0;
}




/*-------------------------------------------*\
               PROJECT FULLWIDTH
\*-------------------------------------------*/

.project--fullwidth__header {
    @extend .col-12;
    @extend .lap-span-5;
    
    @include media(from lap) {
        border-right: 1px dotted $dark;
    }
}

.project--fullwidth__separator--header {
    @extend .col-12;
    @extend .lap-span-5;
}

.project--fullwidth__content {
    @extend .col-12;
    @extend .lap-span-7;
    @include rem(padding-bottom, $base-spacing-unit);

    @include media(from lap) {
        @include rem(border-left-width, 2 * $base-spacing-unit);
        @include rem(padding-top, 5 * $half-spacing-unit);
    }
} 

.project--fullwidth__separator--content {
    @extend .col-12;
    @extend .lap-span-7;
    @include rem(border-left-width, 2 * $base-spacing-unit);
    display: none;

    @include media(from lap) {
        display: block;
    }
}




/*---------------------------------*\
               PROJECT
\*---------------------------------*/
