/*#main*/.content {
    @extend .cf;
    @extend .row;
    background: white;
    position: relative;

    @include media(to hand) {
        @include rem(top, 3*$base-spacing-unit);
        @include rem(padding-bottom, 5 * $base-spacing-unit);
        @include transition(opacity .3s ease-in-out);

        // some dark overlay over the content when the navigation is visible
        .navigation--is-visible & {
            @include opacity(0.15);
        }
    }

    @include media(from hand) {
        @include rem(padding-bottom, 2 * $base-spacing-unit);
        @include rem(margin-left, 250px);
    } 
}

.page-content {
    @include rem(padding-right, 2 * $base-spacing-unit); 
}

.page-main, .page-side {
    float: left;
    @include rem(padding-left, 2 * $base-spacing-unit);
}

.page-main {

    .single-post & {
        @include rem(padding-left, 10 * $base-spacing-unit);

        .featured-image {
            @include rem(margin-left, -10 * $base-spacing-unit);
        }
    }
    
    @include media(from lap) {
        @include rem(max-width, 890px);

        .page-content--with-sidebar & {
            width: 67%;
        }
    }
}

.page-side {
        
    @include media(from lap) {
        width: 33%;
        @include rem(max-width, 420px);
    }
}