html {
    font-family: $base-font-family;
    font-size: percentage($base-font-size/16px);
    color: $gray;
}

.header {
    @include font-size(13px, true);
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
}





/*----------------------------------*\
               HEADINGS
\*----------------------------------*/

.hN {
    font-family: $heading-font-family;
    @include rem(margin-bottom, $half-spacing-unit);
    @include rem(margin-top, $base-spacing-unit);
    color:$dark;
}

.delta,
.epsilon,
.zeta {
    text-transform: uppercase;
    font-weight:700;
    @include rem(letter-spacing, 2px);
}





/*------------------------------------*\
               BLOCKQUOTE
\*------------------------------------*/

blockquote {
    text-indent: 0;
    @include rem(margin, 2*$base-spacing-unit 0);

    &:before{
        @include font-size(132px);
        content: "\201C";
        font-family: $base-font-family;
        display: block;
        float: left;
        @include rem(margin-top, -$base-spacing-unit);
        @include rem(margin-left, -3 * $base-spacing-unit);
        color: $accent-color;
    }

}





/*-------------------------------*\
               LISTS
\*-------------------------------*/

ol {
    @include rem(margin-top, $base-spacing-unit/2);
    @include rem(margin-bottom, $base-spacing-unit);

    li {
        @include font-size(20px);
        font-family: $base-font-family;
        font-style: italic;
        color: $light;
    }
}

.text-link {
    font-family: "Roboto", sans-serif;
    @include font-size(14px);
    text-transform: uppercase;
    color: black;
    text-decoration: none;

    &:after{
        content: "\00bb";
        @include rem(margin-left, 3px);
        @include font-size(16px);
    }
    
}

.emphasized {

    &:before {
        @include font-size(72px);
        content: "\2014";
        position: absolute;
        display: block;
        @include rem(left, -$base-spacing-unit * 3);
        @include rem(margin-top, -$base-spacing-unit * 1.5);
        color: $accent-color;
    }
}


.entry__title{
    @include rem(padding, 1.5 * $base-spacing-unit 0);
    margin-bottom: 0;
}

a {
    color: $dark;

    [class*="icon-"] {
        text-decoration: none;
        padding-right: .5em;
    }
}