/*----------------------------------------*\
*   $GALLERY FULL SCREEN
\*----------------------------------------*/

/*body*/.single-gallery-fullscreen{

    .wrapper{
        height: 100%;
    }
    
    .content{
        margin-left: 0;
        position: inherit;
    }

    .wrapper--main{
        display: block;
    }

    .site-content{
        display: block;
        padding: 0;
        max-width: 100%;
    }

    .gallery-item{

        img{
            display: block;
            width: 100%;
            height: auto;

            @include media(from hand) {
                @include opacity(0);
            }
        }
    }
        .gallery-icon{

            @include media(to hand) {
                background: none !important;
            }
            
            @include media(from hand) {
                position: absolute;
                width: 100%;
                height: 100%;
                background: center no-repeat;            
                @include background-size(cover);
            }
        }
}

.gallery-fullscreen{
    background: black;
    width: 100%;

    @include media(from hand) {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        
        // make slider full height when autoHeight is true
        &, .rsSlide {
            height: 100% !important;
        }
    }
}





/*----------------------------------------*\
*   $ROYAL SLIDER BULLETS
\*----------------------------------------*/
.single-gallery-fullscreen .rsBullets{
    @include rem(bottom, 2 * $base-spacing-unit);
    @include rem(right, 2 * $base-spacing-unit);
    left: auto;
    float: none;
}
