/*---------------------------------*\
 		  BACK TO TOP LINK
\*---------------------------------*/
.back-to-top {
	position:absolute;
	top:-66px;
	right:0;

	a {
		color:$light !important;
		font-size:12px;
		line-height:2.5;
		text-transform:uppercase;
		padding-right:16px; 

		position:relative;

		&:after {
			content: "";
			position: absolute;
			top: 6px;
			right:0;
			width: 7px;
			height: 7px;
			border: 0 solid $light;
			border-top-width: 2px;
			border-right-width: 0.14286rem;
			@include rotate(-45deg);
		}
	}
}