/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/

.navigation--top{
    @include font-size(12px);
    background-color: #050505;
}

.navigation--main{
    @include font-size(13px);
    background-color: #262525;
}

.nav--main__wrapper{

    &.pre-sticky{
        transform: translateY(-100%);
    }

    &.sticky{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        .admin-bar &{
            top: 32px;
        }

        .nav--main{
            max-width: 1048px;
            margin: 0 auto;

            background: #262525;
        }
    }
}

/**
 * Top Bar Navigation - including Top Menu Left and Top Menu Right
 */
.navigation--top {
    .nav {
        margin-bottom:0;
    }
}

// Stuff
.nav--top {
    li {
        background-color: #262525;
    }

    > li {
        background: none;
        position: relative;

        a {
            color: #807d7c;
        }

        > a {
            text-transform: uppercase;
        }

        + li {

            > a {
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    @include rem(top, $_u4);
                    left: 0;
                    @include rem(height, $_u);
                    border-left: 1px dotted $gray;
                }
            }
        }

        /*li*/&.current-menu-ancestor > a {

              }

        /*li*/&.current-menu-parent > a {

              }

        /*li*/&.current-menu-item > a {

              }

        .sub-menu {
            @include rem(width, $_8u);
            @include font-size(14px);
            // @include rem(margin-left, -4px);
        }
    }

    li {

        &:hover {
            > a {
                color: white;
            }

            > .sub-menu {
                display: block;
            }
        }
    }
}

.nav--top-left {
    @include rem(margin-left, -$_u2);
}

.nav--top-right {
    text-align: right;

    .sub-menu {
        text-align: left;
    }
}



/**
 * Main Bar Navigation
 */
.nav--main {
    @extend .cf;
    position: relative;

    > li {
        border: 0 solid transparent;
        background-color: transparent;
        float: left;

        a {
            color: #a6a1a1;
        }

        > a {
            @include rem(padding, $_u4 $_u);
            text-transform: uppercase;
        }

        &.current-menu-item {
            background-color:rgba(255,255,255,0.05);
        }
    }
}

.nav__item--relative {
    position: relative;
}

/*----------------------------------------*\
    $SUBMENUS
\*----------------------------------------*/

/*ul*/.sub-menu {
          @extend .nav;
          @extend .nav--stacked;

          padding-top: 0;
          border-bottom: 0;
          margin-bottom: 0;

          white-space: normal;

          top: 100%;
          left: 0;
          z-index: 300;

          @include rem(padding, 5px);

          @include media-query(palm) {
              @include rem(padding-left, $_u);
          }

          @include media-query(lap-and-up) {
              @include rem(width, $_8u + $_u2 + $_u4);
              background: black;
              background-clip: padding-box;
              position: absolute;
              display: none;
          }

          > li {
              position: relative;

              > a {
                  @include rem(padding, $_u4 #{$_u - 5px});
              }

              @include media-query(lap-and-up) {
                  + li > a {
                      border-top: 1px solid #333131;
                      margin-top: -1px;
                  }
              }

              &.menu-item-has-children:hover {
                  > .sub-menu {
                      display:block;
                      opacity:1;
                  }
              }
          }

          .sub-menu {
              top: 0;
              left: 100%;
              @include rem(margin-top, -5px);
          }
      }

.menu-item--parent > .nav--sub-menu{
    margin-top: 5px;
}

$mega_height: 280px;

/*----------------------------------------*\
    $MOBILE NAVIGATION
\*----------------------------------------*/

$header_height: 3*$_u;
$header_background: white;
$transition_speed: 0.4s;



.navigation--mobile{
    display:block;
}

@include media-query(lap-and-up) {
    .navigation--mobile, .site-navigation__trigger {
        display:none;
    }
}

@include media-query(palm) {

    .header{
        background: $header_background;
        // position: absolute;
        width: 100%;
        // @include rem(height, $header_height);
    }

    .site-header {
        float:left;
    }

    #page{
        overflow: hidden;
    }

    // Hide the rest of the elements
    .navigation--top,
    .navigation--main,
    .header-bar-container {
        display: none;
    }



    /*
    * Menu Styling
    */

    .navigation--mobile{
        width: 75%;
        position: absolute;
        top: 0;
        right: 0;
        visibility: hidden;
        z-index: -1;
        overflow-y: scroll;
        @include rem(padding-right, $_u);
        @include rem(padding-left, $_u2);
        height: 100%;

        background-color: $dark;


        transition: visibility 0 linear $transition_speed;

        > ul > li{
            &:last-child{
                border-bottom: none;
            }

            a{
                @include rem(padding, $_u4 $_u);
            }
        }

        > ul > .menu-item{
            width: 100%;
            border-bottom: 1px solid black;

            a{
                display: block;
                color: white !important;
            }
        }

        .menu-item a{
            @include rem(padding-top, $_u2);
            @include rem(padding-bottom, $_u2);
        }

        .admin-bar &{
            top: 28px;
        }
    }

    .separator--mobile-nav{
        height: 1px;
        background-color: $gray;
        @include rem(margin, $_2u 0);
    }


    /*
    * Trigger Icon
    */
    .site-navigation__trigger {
        display: block;
        @include rem(width, 95px);
        @include rem(height, $header_height);
        padding:$half-spacing-unit $base-spacing-unit;
        position: absolute;
        top: 0; right: 0;
        z-index:10;
        @include font-size(42px);
        text-align: center;
        cursor: pointer;
        color: #807f7d;

        transition: color $transition_speed ease-in-out;

        &:active, &:focus {
            transition: color $transition_speed ease-in-out;
        }

        i {
            display: block;
            position: absolute;
            @include rem(top, $half-spacing-unit + 2px);
            @include rem(left, $half-spacing-unit);
            overflow: hidden;
        }


        // Icon Styling
        & {
            transition: all $transition_speed;
            cursor: pointer;
            user-select: none;
            opacity: .8;
        }

        .nav-icon {
            position: relative;
            top:20px;
            display:block;
            width: 100%;
            height: 6px;
            background: $gray;
            border-radius: 2.5rem;
            transition: all $transition_speed;

            &:after, &:before {
                display: block;
                content: "";
                height: 6px;
                width: 100%;
                background: $gray;
                position: absolute;
                z-index: -1;
                border-radius: 1rem;
                transition: all $transition_speed;
            }

            &:after { top: -$half-spacing-unit; }
            &:before { top: $half-spacing-unit; }

        }
    }



    /*
    * Content Preparation
    */
    .wrapper {
        height: 100%;
        min-height: 350px;
        background-color: white;

        position: relative;
        z-index: 1;
        transform: translateZ(0);
        transition: all $transition_speed ease-in-out;
    }



    /*
    * Showing Navigation (by moving .wrapper)
    */

    .navigation--is-visible {

        .wrapper {
            transform: translateX(-75%);
        }

        .navigation--mobile{
            visibility: visible;
            z-index: 1;
            transition: z-index 0 linear $transition_speed;
        }

        // Trigger icon animations
        .nav-icon {
            background: transparent;
            top:20px !important;

            &:before { transform: rotate(-45deg); top: 0 !important; }
            &:after { transform: rotate(45deg); top: 0 !important; }
        }

    }
}

@include media-query(lap-and-up) {
    .nav--main {
        li {
            transition: all 0.15s linear;

            &:hover, &.current-menu-item {
                border-bottom-color: $accent;
                background-color:rgba(255,255,255,0.05);
            }

            &:hover{
                > a {
                    color: white;
                }
            }

            &.open {
                @include media-query(lap-and-up) {
                    > .sub-menu {
                        opacity: 1;
                        transition: opacity $transition_speed ease-out 0;
                    }
                }
            }
        }

        > li {
            @include rem(border-top-width, 5px);
            @include rem(border-bottom-width, 5px);

            a {
                color: #a6a1a1;
            }

            > a {
                @include rem(padding, $_u4 $_u);
                text-transform: uppercase;
            }
        }
    }
}

