/*---------------------------------*\
         		STATS
\*---------------------------------*/
.stats {

}

.stat-group {

}
	.stat {

	}
	.stat__title {

	}
	.stat__value {

	}

/**
 * Footer Posts stats
 */
.site__stats {
	
	text-align:center;
	position:relative;
	bottom:-7px;

	a {
		color:$light;
	}

	.stat-group {
		margin-bottom:0;
	}

	.stat {
		margin-top:$_2u;
		margin-left:-1px;
		height:2*$_2u;
		width:$_2u;
		position:relative;
	}

	.stat__value, .stat__title {
		font-size:12px;
		line-height:2.5;
		width:100%;
		z-index:1;

		@include transition(all 0.15s 0.07s);

		&:after {
			background:$accent;
			content:"";
			display:block;
			width:100%;
			height:120%; // bounce effect
			max-height:0;

			position:absolute;
			bottom:0;
			left:0;
			z-index:-1;

			@include transition(max-height 0.40s bezier(easeOutBack) 0.07s);
		}
	}

	.stat__value {
		padding-top:3px;

		background:#f2f2f2;
		min-height:32px;

		position:absolute;
		bottom:34px;
		left:0;
	}

	.stat__title {
		font-weight:normal;
		text-transform:uppercase;
		position:absolute;
		bottom:0;
		left:0;

		&:after {
			top:0;
			bottom:auto;
		}
	}

	.stat:hover {
		.stat__value, .stat__title {
			color:#fff;
			&:after {
				max-height:100%;
			}
		}
	}

	&:after {
		background:#f2f2f2;
		content:"";
		display:block;
		width:100%;
		height:5px;

		position:absolute;
		bottom:36px;
		z-index:-1;
	}

}



 /*------------------------------------*\
     $STATS
 \*------------------------------------*/
 /**
  * Simple object to display key–value statistic-like information, e.g.:
  *
    <div class=stat-group>
        <dl class=stat>
            <dt class=stat__title>Tweets</dt>
            <dd class=stat__value>27,740</dd>
        </dl>

        <dl class=stat>
            <dt class=stat__title>Following</dt>
            <dd class=stat__value>11,529</dd>
        </dl>

        <dl class=stat>
            <dt class=stat__title>Followers</dt>
            <dd class=stat__value>12,105</dd>
        </dl>
    </div>
  *
  * Demo: jsfiddle.net/inuitcss/Bpwu6
  *
  */
 .stat-group{
    @extend .cf;
    @include rem(margin-left, -($base-spacing-unit));
}
    .stat{
        float:left;
        @include rem(margin-left, $base-spacing-unit);
        display:-ms-flexbox;
        display:-webkit-flex;
        display:   -moz-flex;
        display:        flex;
        @include vendor(flex-direction, column);
    }
        .stat__title{
            @include vendor(order, 2);
            -ms-flex-order:2;
        }
        .stat__value{
            margin-left:0;
            @include vendor(order, 1);
            -ms-flex-order:1;
        }

