//                   : SETTINGS
//                   : Typography
$debug               : false;
// Typography

$fontFamilySansSerif : 'Lato', sans-serif;
$fontFamilySerif     : serif;
$fontFamilyMonospace : monospace;

$textColor           : $gray;
$fontSizeBase        : 20px;
$fontSizeLarge       : $fontSizeBase*$large;
$fontSizeSmall       : $fontSizeBase*$small;
$fontSizeMini        : $fontSizeBase*$mini;
$lineHeightBase      : 1.5;

$fontFamilyBase      : $fontFamilySansSerif;
$heading-fontFamily  : $fontFamilySansSerif;
$heading-fontWeight  : normal;
$heading-color       : $grayDark;

//                   : Modular scale
$modularScale        : true;
$ratio               : 1.2;
$base-size           : $fontSizeBase;

//                   : Headings
$alpha-size          : 48px; 	// h1
$beta-size           : 32px; 	// h2
$gama-size           : 26px; 	// h3
$delta-size          : 18px; 	// h4
$epsylon-size        : 16px; 	// h5
$zeta-size           : 14px; 	// h6

//                   : Grid
$responsive          : true;
$visibilityClasses   : false;
$gridWidth           : auto;
$gridGutter          : 48px;
$gridPadding         : 76px;
$gridMargin          : auto;
$breakpoints         : 0 small 640px hand 1040px lap 1300px desk;
$defaultBreakpoint   : lap;

//                   : regular grid system options
$columns             : 12;
$defaultClasses      : true;
$offsetClasses       : true;
$pullClasses         : true;
$pushClasses         : true;

//                   : Remux
$remux               : false;
$stepSize            : 1px;
$minFontSize         : 18px;
$maxFontSize         : 20px;

$bgColor             : white;