.hidden {
	display: none;
}

.wrapper {
	overflow: hidden;

	&.wrapper-header-small {
		overflow: visible;
	}
}

.wrapper.wrapper-header {
  overflow: visible;
}

.wrapper-content {
	// add background-color to overlap fixed featured image
	position: relative;
	background-color: white;
}

.wrapper-body {
	background: white;

  &:first-child {
    padding-top:$unit;
  }
}

.slides {
	@extend %unstyled; 
}


.portfolio-rows {
	@include perspective(1000px);
	@include transform-style(preserve-3d);
	@include backface-visibility(hidden);
}

.portfolio-rows .come-in {
	@include opacity(1);
	@include transform(translateY(600px));
	-webkit-animation: come-in 0.8s ease forwards;
	   -moz-animation: come-in 0.8s ease forwards;
	     -o-animation: come-in 0.8s ease forwards;
	        animation: come-in 0.8s ease forwards;
}

.go-out {
	@include transform(translateY(600px));
	-webkit-animation: go-out 0.3s ease forwards;
	   -moz-animation: go-out 0.3s ease forwards;
	     -o-animation: go-out 0.3s ease forwards;
	        animation: go-out 0.3s ease forwards;
}

.portfolio-rows .block.already-visible {
	@include opacity(1);
	@include transform(none);
	-webkit-animation: none;
	   -moz-animation: none;
	     -o-animation: none;
	        animation: none;
}

@-webkit-keyframes come-in {
  to {
	@include opacity(1);
  	-webkit-transform: translateY(0);
  }
}
@-moz-keyframes come-in {
  to {
	@include opacity(1);
  	-moz-transform: translateY(0);
  }
}
@-o-keyframes come-in {
  to {
	@include opacity(1);
  	-o-transform: translateY(0);
  }
}

@keyframes come-in {
  to {
	@include opacity(1);
  	transform: translateY(0);
  }
}

@-webkit-keyframes go-out {
	0% {
		-webkit-transform: none;
		@include opacity(1);
	}
	100% {
		-webkit-transform: scale(.75);
		@include opacity(0);
	}
}
@-moz-keyframes go-out {
	0% {
		-moz-transform: none;
		@include opacity(1);
	}
	100% {
		-moz-transform: scale(.75);
		@include opacity(0);
	}
}
@-o-keyframes go-out {
	0% {
		-o-transform: none;
		@include opacity(1);
	}
	100% {
		-o-transform: scale(.75);
		@include opacity(0);
	}
}
@keyframes go-out {
	0% {
		transform: none;
		@include opacity(1);
	}
	100% {
		transform: scale(.75);
		@include opacity(0);
	}
}

.video-wrap, .audio-wrap {
	@include rem(margin, 0 0 $unit);

	iframe {
		display: block;
	}

	.portfolio-row & {
		margin-bottom: 0;
	}
}

.portfolio-rows {
	@extend %unstyled;
	margin: 0;
}

.no-transition {
	@include transition(none !important);
}

//Contact Map
.contact-info {
	display:none;

	.infoBox & {
		display:block;
	}

	.pin_ring {
    @include rem(width, $unit);
    @include rem(height, $unit);
    border-radius: 50% 50% 50% 0 / 50% 50% 50% 0;
    @include transform(rotate(-45deg));
    position: absolute;
    top: 0; left: 0;
    border: 10px solid $accentColor;
  }
}

/* The animation */
/* WebKit/Safari and Chrome */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.5;
    }
    
    80% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
    
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }    
}
/* Gecko/Firefox */
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.5;
    }
    
    80% {
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
    
    100% {
        -moz-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }    
}
/* Presto/Opera */
@-o-keyframes pulse {
    0% {
        -o-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.5;
    }
    
    80% {
        -o-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
    
    100% {
        -o-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }    
}
/* Standard */
@keyframes pulse {
    0% {
        transform: scale(0.3);
        opacity: 0.5;
    }
    
    80% {
        transform: scale(1.5);
        opacity: 0;
    }
    
    100% {
        transform: scale(2.5);
        opacity: 0;
    }    
}

//Show s-visible elements
.s-monitor.s-visible {
	opacity: 1;
	@include transform(scale, 1);
}
.progressbar.s-monitor.s-visible .progressbar-progress .progressbar-tooltip {
	opacity: 1;
}


// Shame to the Maxx 
footer .widget-tweets-tweet-content {
	height: auto !important;
	overflow: visible;

	@include media(to lap) {
		height: auto !important;
		overflow: visible;
	}
}

.twitter-footer {
	@include media(to lap) {
	}
}

// Media elements
.mejs-container {
	margin-bottom: 0;
	background: $grayDarkest;

	.mejs-controls {
		background: $grayDarker;
		@include border-radius(0);

		div {
			background: none;
		}

		div.mejs-horizontal-volume-slider {
			width: 60px;
		}
	}

  .me-cannotplay span {
    white-space: nowrap;
  }

	.mejs-time-rail .mejs-time-total,
	.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
		background: $grayDarkest;
		border: 0;
	}

	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
		height: 6px;
	}

	.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	.mejs-time-rail span.mejs-time-current,
	.mejs-time-rail span.mejs-time-loaded,
	.mejs-time-rail span.mejs-time-buffering {
		height: 6px;
	}

	.mejs-controls .mejs-time-rail .mejs-time-current,
	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
		@extend %accentBgColor;
	}

	.mejs-overlay-button {
		background-position: 0 0;
	}

	.mejs-overlay:hover .mejs-overlay-button {
		//background-position: 0 100px;
	}
}


.header-quote-content {
	@include rem(max-width, 1000px);
	margin: 0 auto;

	blockquote {
		@include fs(42px);
	}
}

.wp-smiley {
	display: inline;
}

.sticky {

}

.gallery {
  margin-left: -3px;
  margin-right: -3px;
  @include rem(margin-bottom, $unit !important);
}

.gallery-caption{

}

.gallery-item {
  margin-top: 0 !important;

  img {
    border: 0 !important;
  }
}

.alignright {

}

.alignleft {

}

.aligncenter {

}

.page-header-video-wrap { 
	@include rem(max-width, 1200px);
	margin: 0 auto;
} 

//Portfolio Grid Fix for Firefox
@include media(from lap) {

	.block1.lap-push4 {-moz-transform: translateX(percentage(1));}
	.block1.lap-push8 {-moz-transform: translateX(percentage(2));}
	.block2.lap-push4 {-moz-transform: translateX(percentage(1/2));}
	.block2.lap-push8 {-moz-transform: translateX(percentage(1));}

	.block1.lap-pull4 {-moz-transform: translateX(percentage(-1));}
	.block1.lap-pull8 {-moz-transform: translateX(percentage(-2));}
	.block2.lap-pull4 {-moz-transform: translateX(percentage(-1/2));}
	.block2.lap-pull8 {-moz-transform: translateX(percentage(-1));}
}

//Caption text on image align left
.alignleft .wp-caption-text  {
	width:150px;
	left:-165px;
}
.alignright .wp-caption-text {
	position: relative;
	left: 0;
	width: 100%;
	text-align: left;
	padding-top: 5px;
}

pre {
	max-width:600px;
}

* {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.main-footer_sidebar {
	width: 100%;
}

.wrapper-content{
	overflow: hidden;
}

.main { 
  position: relative; 
}

.main-page {
  width: 100%;
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
.cl-effect-2 a {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  // line-height: 3;
  padding: 0 2em;
  @include box-shadow(white 0 0 0 .2em inset);
  background: $darkerAccentColor;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  // height: 100%;
  background: $darkerAccentColor;
  content: attr(data-hover);
  @include box-shadow(white 0 0 0 .2em inset);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-100%);
  -moz-transform: rotateX(90deg) translateY(-100%);
  transform: rotateX(90deg) translateY(-100%);

  .ie10 & {
    @include transform(none);
  }
}



.csstransforms3d .cl-effect-2 a:hover span:before,
.csstransforms3d .cl-effect-2 a:focus span:before {
  background: $accentColor; 
}

.well {
  @include rem(padding-top, $unit);
  @include rem(padding-bottom, $unit);
}

.well--big {
  @include rem(padding-top, 2*$unit);
  @include rem(padding-bottom, 2*$unit);
}


@include media(from lap) {
  .no-sticky-header .wrapper-header-small{
    display: none;
  }
}

.footer-author-avatar {
  @include rem(width, 100px);
  @include rem(padding-right, $unit);
  @include rem(margin-bottom, $unit);
  float: left;

  + p {
    @include rem(margin-left, 100px);
  }
  
  img {
    width: 100%;
    height: auto;
  }
}

// @debug "done!";