#page {
    background: $dark;
        
    @include media(from hand) {
        background: none;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }
}

html {
    // margin-top: 0 !important;
    min-height: 0;
}

// .admin-bar {

//     .content {
//         margin-top: 28px;
//     }

//     @include media(from hand) {
//         .header, .content {
//             padding-top: 28px;
//             margin-top: 0;
//         }
//     }
// }

.content {
    @extend .cf;
    background: white;
    position: relative;

    // project-classic causes horizontal scroll. CAUTION!
    overflow: hidden;

    @include media(from hand) {
        @include rem(margin-left, 250px);
    } 

    @include media(to hand) {
        position: relative;
        @include rem(top, 3*$base-spacing-unit);
        @include rem(padding-bottom, 5 * $base-spacing-unit);
        @include transition(opacity .3s ease-in-out);

        // some dark overlay over the content when the navigation is visible

        .navigation--is-visible & {
            @include opacity(0.15);
        }
    }
}

/* prevent flicker on ios */
.content, .header, .header__inner-wrap {
    @include backface-visibility(hidden);
    @include perspective(1000px);
}

.wrapper {
    position: relative;
}

/* the header stays over the content */
@include media(to hand) {
    .header     {z-index: 100}
    .content    {z-index: 200}
}

/**
*
* There's a 1px vertical line in the grid that seems to appear because of
* bad computation of widths (I guess) :D
*
**/
.mosaic__item-wrapper {
    margin: -1px;
}

/**
 * There's 1px horizontal on the page when there's no sidebar and the page goes
 * full width, making the horizontal scroll bar appear
 */
 
.full-width .site-content{
    overflow: hidden;
}





/*---------------------------------------------------*\
               $SINGLE GALLERY FULLWIDTH
\*---------------------------------------------------*/

/* Asa nu :D */

.single-gallery-fullwidth {

    @include media(from hand) {
        #page, .content, #main, #primary, #content, .post {
            height: 100%;
        }

        .content {
            position: relative;
        }
    }
}



/* */
.featured-image-wrapper {
    position: relative;
}

/*----------------------------------------------*\
               $SINGLE PROJECT FULL
\*----------------------------------------------*/

.featured-image{
    position: relative;
}

.gallery{
    width: 100%;
    overflow: hidden;
    margin: 0;
    @include rem(margin-bottom, $base-spacing-unit);
}

.gallery--archive{
    margin-bottom: 0;
}

    .gallery-item{
        display: block;
        height: 100%;

        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

.single-gallery-fullscreen {

    @include media(from hand) {
        #page, .content {
            height: 100%;
        }
    }

    .content {
        margin-left: 0;
    }
}

.gallery--fullscreen{

    @include media(from hand) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        &, .rsSlide {
            height: 100% !important;
        }
    }

    .gallery-item{

        img{
            @include media(from hand) {
                @include opacity(0);
            }
        }
    }

    .gallery-icon{

        @include media(to hand) {
            background: none !important;
        }
        
        @include media(from hand) {
            position: absolute;
            width: 100%;
            height: 100%;
            background: center no-repeat;            
            @include background-size(cover); 
        }
    }
}





/**
 * The zoom controls are not displayed 
 * properly without this rule
 */
#gmap{
    padding-top: 50%;
    @include rem(max-height, 460px);

    img{
        max-width: none !important;
    }
}





/**
 * When it starts, the Magnific Popup pust overflow: hidden;
 * on <html/>, rule that already exists, but removes it on closing,
 * making the scroll bar appear.
 */
html{
    overflow: hidden !important; 
    padding-right: 0 !important;
}



.bleed--left {
    @include rem(margin-left, -2 * $base-spacing-unit);
}

.featured-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

// royal slider 1px spacing shit
// .gallery-icon {
//     width: 102% !important;
//     left: -1% !important;
// }

// that fullscreen royal slider needs some help
/*body*/.single-gallery-fullwidth,
/*body*/.single-gallery-fullscreen {
    .js-pixslider {
        height: 100% !important;
    }
}

// Magnific Popup
// 
// When an image is bigger than the viewport, limit it to 90%
// to prevent the scrollbar from showing.
// Also, taking care of the bottom bar positioning(controls and title)
// and removing the animation
img.mfp-img{
    @include rem(padding-bottom, 100px);
    //max-height: 90% !important;
}

.mfp-figure:after{
    background: none;
    box-shadow: none;
}

.mfp-bottom-bar{
    @include rem(bottom, 78px);
    top: auto;

    .gallery-control{
        @include rem(right, $half-spacing-unit);
        animation: none !important;
        -webkit-animation: none !important;
        @include opacity(1);
    }
}