@import "variables";

%accentColor {
	color: $accentColor;
}

%accentBgColor {
	background-color: $accentColor;
}

%accentBorderColor {
	border-color: $accentColor;
}

%accentBorderTopColor {
	border-top-color: $accentColor;
}

%accentBorderRightColor {
	border-right-color: $accentColor;
}

%accentBorderBottomColor {
	border-bottom-color: $accentColor;
}

%accentBorderLeftColor {
	border-left-color: $accentColor;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

//Arrows - usually used for slider buttons
.ch-arrow {
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		z-index: 100;
		margin-top: -10px;
		width: 0; height: 0;
		border: 10px solid transparent;
	}
}
.ch-arrow-left {
	@extend .ch-arrow;
	&:before {
		left: 0;
		border-left-color: white;
	}
}
.ch-arrow-right {
	@extend .ch-arrow;
	&:before {
		right: 0;
		border-right-color: white;
	}
}

