//                 : colors
$black             : #161617;

$grayDark          : #3d3d3d;
$gray              : #7a7a79;
$grayLight         : #cacaca;

$grayLightest      : #f7f7f7;
$white             : #fff;

$accentColor       : #ee3430;
$darkerAccentColor : darken($accentColor, 10%);

//                 : sizes
$large             : 1.25 !default;
$small             : .85 !default;
$mini              : .75 !default;

$unit: 27px;
$offset            : 2*$unit;
