// Required Mixin
@mixin fontFace($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url($path + '.eot');
    src: 
    url($path + '.eot?#iefix') format('embedded-opentype'),
    url($path + '.woff') format('woff'),
    url($path + '.svg') format('svg'),
    url($path + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: $name;
      src: url($path + '.svg') format('svg');
      font-weight: $weight;
      font-style: $style;
    }
  }
}


@include fontFace('Roboto', '../fonts/roboto_light/Roboto-Light-webfont', 300);
@include fontFace('Roboto', '../fonts/roboto_lightitalic/Roboto-LightItalic-webfont', 300, italic);
@include fontFace('Roboto', '../fonts/roboto_medium/Roboto-Medium-webfont', 500);
@include fontFace('Roboto', '../fonts/roboto_mediumitalic/Roboto-MediumItalic-webfont', 500, italic);

@include fontFace('Open Sans', '../fonts/opensans_light/OpenSans-Light-webfont', 300);
@include fontFace('Open Sans', '../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont', 300, italic);
@include fontFace('Open Sans', '../fonts/opensans_regular/OpenSans-Regular-webfont');
@include fontFace('Open Sans', '../fonts/opensans_italic/OpenSans-Italic-webfont', normal, italic);
@include fontFace('Open Sans', '../fonts/opensans_bold/OpenSans-Bold-webfont', 700);
@include fontFace('Open Sans', '../fonts/opensans_bolditalic/OpenSans-BoldItalic-webfont', 700, italic);

@include fontFace('Crimson Text', '../fonts/crimson_roman/crimsontext-roman-webfont');
@include fontFace('Crimson Text', '../fonts/crimson_italic/crimsontext-italic-webfont', normal, italic);

@include fontFace('Josefin Slab', '../fonts/josefinslab_regular/josefinslab-regular-webfont', normal);
@include fontFace('Josefin Slab', '../fonts/josefinslab_semibold/josefinslab-semibold-webfont', 600);
@include fontFace('Josefin Slab', '../fonts/josefinslab_bold/josefinslab-bold-webfont', 700);
@include fontFace('Josefin Slab', '../fonts/josefinslab_thin/josefinslab-thin-webfont', 300);