/*----------------------------------------*\
*   $CONTENTS
\*----------------------------------------*/
/**
 * Comments ................ styling of the comment list
 * Comment form ............ styling of the comment form
 */






/*----------------------------------------*\
*   $COMMENTS
\*----------------------------------------*/
.comments-area-title{
    @include rem(margin, $base-spacing-unit 0);
}


.commentlist{
    @extend .nav;
}

li.comment{
    @extend .cf;
    @include rem(margin-bottom, $base-spacing-unit);
    width: 100%;
    display: block;
    position: relative;

    .children{
        
        @include media(from lap) {
            @include rem(margin-top, 2 * $base-spacing-unit);
        }
        
        &:before{
            content: "";
            float: left;
            display: block;
            @include rem(height, $base-spacing-unit);
            @include rem(width, $half-spacing-unit);
            @include rem(margin-left, -$base-spacing-unit);
            @include rem(margin-top, -$half-spacing-unit);
            border-left: 2px solid $light;
            border-bottom: 2px solid $light;
        }
    }
}
    /* .comment__meta{} */

        .comment__timestamp{
            display: block;
            color: $gray;
            font-family: "Crimson Text";
            font-style: normal;
            @include font-size(13px);
            text-decoration: none;
        }

        .comment__author-name{
            display: block;
            font-family: "Josefin Slab", serif;
            @include font-size(14px);
            color: $dark;
            font-weight: bold;
            font-style: normal;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 1px;
        }

    .comment__content{
        @include font-size(18px);
        position: relative;

        &:hover{
            .comment-reply-link{
                @include opacity(1);
            }
        }
    }

        .comment-reply-link{
            position: absolute;
            bottom: 0;
            right: 0;
            @include opacity(0);
            @include transition(opacity .3s ease-in-out);
        }    

@include media(from hand){
    .comment__meta{
        float: left;
        @include rem(width, 5.5 * $base-spacing-unit);
        @include rem(margin-right, $base-spacing-unit);
    }

    .comment__content{
        @include rem(margin-left, 6.5 * $base-spacing-unit);
        @include rem(padding-left, $base-spacing-unit);
        border-left: 1px dotted $gray;        
    }
}

.logged-in-as{
    @extend .col-12;
}

.comment-respond{
    position: relative;
}

#cancel-comment-reply-link{
    position: absolute;
    @include rem(bottom, $base-spacing-unit);
    left: 0;
    z-index: 5;
    text-decoration: none;
    font-style: normal;
}





/*----------------------------------------*\
*   $COMMENT_FORM
\*----------------------------------------*/
.comment-form{
    @extend .row;
    @include placeholder() {
        font-family: "Crimson Text", serif;
        @include font-size(18px);
        font-style: italic;
    }
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    @extend .col-4;

    input:not([type]), 
    input[type="color"], 
    input[type="email"], 
    input[type="number"], 
    input[type="password"], 
    input[type="tel"], 
    input[type="url"], 
    input[type="text"] {
        width: 100%;
        @include rem(padding, $half-spacing-unit/2);
        border: 1px solid #e5e9eb;
        outline: 0;

        &:focus {
            outline: 1px solid #eab03f;
        }
    }
}

.comment-form-comment,
.form-submit{
    @extend .col-12;

    textarea{
        width: 100%;
        @include rem(padding, $half-spacing-unit/2);
        border: 1px solid #e5e9eb;

        &:focus {
            outline: 1px solid #eab03f;
        }
    }
}

/**
 * !Important stuff here to override wordpress styles...
 */
.form-submit #comment-submit{
    @extend .btn;
    @include rem(padding, $half-spacing-unit/2 $base-spacing-unit);
    font-size: 0.77778rem !important;
    line-height: 1.71439 !important;
    text-transform: uppercase;
    float: right;
}