/*----------------------------------------*\
*   $ARROWS, ITEM COUNT
\*----------------------------------------*/
/**
 * Control arrow, current item, total count
 *
    <div class="gallery-control gallery-control--gallery-fullscreen">
        <a href="#" class="control-item arrow-button arrow-button--left js-slider-arrow-prev"></a>
        <div class="control-item count js-gallery-current-slide">
            <span class="highlighted js-decimal">0</span><span class="js-unit">1</span>
            <sup class="js-gallery-slides-total">03</sup>
        </div>    
        <a href="#" class="control-item arrow-button arrow-button--right js-slider-arrow-next"></a>
    </div>
 */

.gallery-control{
    display: block;
    position: absolute;
    @include rem(bottom, $base-spacing-unit);
    @include rem(left, $base-spacing-unit);
}

    .control-item{
        display: inline-block;
    }

    .gallery-control__items{
        @extend .nav;
    }

    .gallery-control--popup{
        @include rem(margin-top, $base-spacing-unit);
        @include rem(margin-right, - $base-spacing-unit);
    }

        .gallery-control__item{
            vertical-align: top;
        }

        .arrow-button{
            @include rem(width, 20px);       
            @include rem(height, 20px);       
            @include rem(margin, $half-spacing-unit $base-spacing-unit 0 $base-spacing-unit);
            color: white;
            border-color: white;
            border-bottom: 2px solid;
            @include transition(all 0.15s ease-in-out);

            &:hover{
                border-color: $accent-color;
            }
        }

        .arrow-button--left{
            border-left: 2px solid;
            @include transform(rotate(45deg));

            &:hover{
                @include transform(translateX(-5px) rotate(45deg));
            }
        }

        .arrow-button--right{
            border-right: 2px solid;
            @include transform(rotate(-45deg));

            &:hover{
                @include transform(translateX(5px) rotate(-45deg));
            }            
        }

        .count{
            font-family: "Josefin Slab", serif;
            color: white;
            @include font-size(40px);

            sup{
                font-family: "Josefin Slab", serif;
                font-size: 50%;
                color: white;               
                @include rem(top, -$half-spacing-unit);
                &:before{
                    content: "/";
                }
            }
        }


