.masonry {
    @extend .cf;
    background: #f5f5f5;
    @include rem(padding-right, $base-spacing-unit);

    @include opacity(0);
    @include transition(opacity .3s ease-in-out, transform .3s ease-in-out);
    @include backface-visibility(hidden);
    @include transform(translate3d(0,2em,0));

    .wf-loaded & {
        @include opacity(1);
        @include transform(none);
    }
}

.masonry__item {
    background: white;
    @include rem(margin, $base-spacing-unit 0 $base-spacing-unit $base-spacing-unit);
    @include opacity(0);

    .span & { @include opacity(1); }

    .article-timestamp {
        @extend .cf;
        display: block;
        float: left;
        @include rem(margin-left, $base-spacing-unit);
    }

    .entry__title {
        clear: both;
        @extend .gamma;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        @include rem(margin, 0 $base-spacing-unit $base-spacing-unit 0);
        @include rem(padding, $half-spacing-unit 0 $base-spacing-unit $base-spacing-unit);
    }

    .entry__content {
        @include rem(padding, 0 0 0 $base-spacing-unit);
        @include rem(margin-right, $base-spacing-unit);
    }

    .entry--quote__content {
        border-bottom: 1px dashed black;
        @include rem(padding-top, 3 * $half-spacing-unit);
    }

    blockquote {
        margin-top: 0;
        @include rem(margin-bottom, $base-spacing-unit);

        &:before {
            float: none;
            margin-left: 0;
            margin-top: 0;
            @include rem(height, 5 * $half-spacing-unit);
        }
    }

    .entry__thumbnail {
        position: relative;
    }

    .entry--video__thumbnail {
        @include rem(padding-top, 3*$half-spacing-unit);
    }

    .entry__meta {
        @include rem(padding, $base-spacing-unit);
    }
}

[data-columns]::before {
    display: none;
}

.span {
    float: left;
}

@media screen and (max-width: 699px) {
    .masonry[data-columns]::before {
        content: '1 .span.span-12';
    }

    .masonry {
        padding-right: 0;
    }

    .masonry__item {
        margin-left: 0;
        margin-top: 0;
        @include rem(padding-top, $base-spacing-unit);
    }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
    .masonry[data-columns]::before {
        content: '2 .span.span-6';
    }
}

@media screen and (min-width: 800px) and (max-width: 949px) {
    .masonry[data-columns]::before {
        content: '1 .span.span-12';
    }
}

@media screen and (min-width: 950px) and (max-width: 1279px) {
    .masonry[data-columns]::before {
        content: '2 .span.span-6';
    }
}

@media screen and (min-width: 1280px) and (max-width: 1700px) {
    .masonry[data-columns]::before {
        content: '3 .span.span-4';
    }
}

@media screen and (min-width: 1701px) {
    .masonry[data-columns]::before {
        content: '4 .span.span-3';
    }
}