/*----------------------------------------*\
               PORTFOLIO GRID
\*----------------------------------------*/

/* @todo:
 * create grid-something module in layout and make .mosaic extend it
 * deoarece pentru ca fiindca din cauza ca are cateva stiluri specifice
 */
.mosaic {
    @extend .cf;
    position: relative;
    @include transform(translate3d(0,0,0));
}

    .mosaic__item {
        // opacity: 0; //
        display: none; //
        overflow: hidden;
        float: left;
        @extend .span-6;
        @extend .hand-span-6;
        @extend .lap-span-4;
        @extend .desk-span-3;
        position: relative;

        .image__item-link {
            @include transform(translateX(-101%));

            .icon-plus {
                padding-right: 0; 
                padding-top: 0.1em;
            }
        }
    }

    .loaded .slide-in .image__item-link {
        -webkit-animation: slide-in .25s bezier(easeOutQuad);
           -moz-animation: slide-in .25s bezier(easeOutQuad);
             -o-animation: slide-in .25s bezier(easeOutQuad);
                animation: slide-in .25s bezier(easeOutQuad);
        @include transform(none);

        .lt-ie9 & {
            display: block;
        }
    }

    .loaded .slide-out .image__item-link {
        -webkit-animation: slide-out .25s bezier(easeOutQuad);
           -moz-animation: slide-out .25s bezier(easeOutQuad);
             -o-animation: slide-out .25s bezier(easeOutQuad);
                animation: slide-out .25s bezier(easeOutQuad);
        @include transform(translateX(101%));

        .lt-ie9 & {
            display: none;
        }
    }

    @-webkit-keyframes slide-out {
        0% {-webkit-transform: none;}
        100% {-webkit-transform: translateX(101%);}
    }

    @-moz-keyframes slide-out {
        0% {-moz-transform: none;}
        100% {-moz-transform: translateX(101%);}
    }

    @-o-keyframes slide-out {
        0% {-o-transform: none;}
        100% {-o-transform: translateX(101%);}
    }

    @keyframes slide-out {
        0% {transform: none;}
        100% {transform: translateX(101%);}
    }

    @-webkit-keyframes slide-in {
        0% {-webkit-transform: translateX(-101%);}
        100% {-webkit-transform: none;}
    }

    @-moz-keyframes slide-in {
        0% {-moz-transform: translateX(-101%);}
        100% {-moz-transform: none;}
    }

    @-o-keyframes slide-in {
        0% {-o-transform: translateX(-101%);}
        100% {-o-transform: none;}
    }

    @keyframes slide-in {
        0% {transform: translateX(-101%);}
        100% {transform: none;}
    }

    .image_item-table {
        @include opacity(0);
        @include transition(all .2s .1s ease-out);
    }

    .no-touch .mosaic__item:hover {

        .image_item-table {
            @include opacity(1);
            @include transition(all .2s ease-in);
        }
    }

    .image__item-wrapper {
        position: relative;
        padding-top: 55%;
        overflow: hidden;
        -webkit-backface-visibility: hidden;

        img { 
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            // opacity: 0;
            @include transition(opacity .3s ease-in-out);
        }
    }

    .js--is-loaded img {
        opacity: 1;
    }



/*--------------------------------*\
               FILTER
\*--------------------------------*/

/*ul*/.mosaic__filter {
    @extend .nav;
    @extend .nav--stacked;
    @extend .text--right;
    cursor: pointer;

    .filter {

        &.active {
            color: $accent-color;
        }
    }
}