[data-columns]::before {
    display: none;
}


[data-columns] {
    
    > div {
        width: 50%;
        display: inline-block;
        @include rem(padding-left, $_u);
        vertical-align: top;
    }
}

@media screen and (max-width: 599px) {
    [data-columns]::before {
        content: '1 .grid__item.one-whole';
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    [data-columns]::before {
        content: '2 .grid__item.one-half';
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    [data-columns]::before {
        content: '1 .grid__item.one-whole';
    }
}

@media screen and (min-width: 1024px) {
    [data-columns]::before {
        content: '2 .grid__item.one-half';
    }
}