/*---------------------------------*\
         MASSONRY POST LAYOUT
\*---------------------------------*/

[data-columns]::before {
    display: none;
}

.masonry__item {
    display: inline-block;
    @include rem(padding-left, $_u);
    vertical-align: top;
}

.masonry__item-wrapper.grid__item {

    > .masonry__item {
        width: 100%;
        padding-left: 0;
    }
}

[data-columns] {

    > div {
        @extend .masonry__item;
    }

    // @media screen and (min-width: 1023px) {
    //     &.fullwidth > div {
    //         width:33.33%;
    //     }
    // }
}


@media screen and (max-width: 599px) {
    [data-columns] {

        &::before {
            content: '1 .grid__item.one-whole  .masonry__item-wrapper';
        }

        .masonry__item { width: 100%; }
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    [data-columns] {

        &::before {
            content: '2 .grid__item.one-half  .masonry__item-wrapper';
        }

        .masonry__item { width: 50%; }
    }
}

@media screen and (min-width: 900px) and (max-width: 1023px) {
    [data-columns] {

        &::before {
            content: '1 .grid__item.one-whole  .masonry__item-wrapper';
        }

        .masonry__item { width: 100%; }
    }

    [data-columns].fullwidth {

        &::before {
            content: '2 .grid__item.one-half  .masonry__item-wrapper';
        }
        
        & > div, .masonry__item { width: 50%; }
    }
}

@media screen and (min-width: 1024px) {
    [data-columns] {

        &::before {
            content: '2 .grid__item.one-half  .masonry__item-wrapper';
        }

        .masonry__item { width: 50%; }
    }

    [data-columns].fullwidth {

        &::before {
            content: '3 .grid__item.one-third  .masonry__item-wrapper';
        }

        & > div, .masonry__item { width: 33.33%; }
    }
}