html {
    color: $gray;
}

h1,h2,h3,h4,h5,h6,hgroup {
    @include rem(margin-top, $_2u);
    font-family: $heading-font-family;
    font-weight: 500;

    &:first-child {
        margin-top: 0;
    }
}

h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

%block-separator {
    @include rem(margin-bottom, $_u - 5px);
    border-bottom: 0 solid $dark;
    @include rem(border-bottom-width, 5px);
}

.container {
    @extend .cf;
    @extend .soft--sides;
    max-width: 1050px;
    margin: 0 auto;
}

.sidebar {
    @include rem(padding-left, $_2u);
}

a {
    text-decoration: none;
    color: $red;
}

.hN {
    font-family: $heading-font-family;
    font-weight: normal;
    text-transform: uppercase;
}

.heading {
    @extend .cf;
    @include rem(margin-bottom, $_u);

    .hN {
        margin-bottom: 0;
        font-family: "Arvo", serif;
        font-weight: normal;
        color: white;
        text-transform: uppercase;
    }
}

.heading--main {
    background-color: $dark;

    .hN {
        @include rem(padding, $_u2 $_u);
        background-color: $red;
        float: left;
    }
}

.heading--sidebar {
    background-color: $red;

    .hN {
        @include rem(padding, $_u2 $_u);
        @extend .gamma;
    }
}

.heading--footer {

    .hN {
        @extend .gamma;
    }
}


.block-list--alt {
    border-top-width: 0;
    margin-top: 0;
    @include rem(margin-bottom, -$_u2);

    > li {
        border-bottom-width: 0;
        padding: 0;
        @include rem(padding-bottom, $_u2);

        + li {
            border-top-width: 1px;
            @include rem(padding-top, $_u2);
        }
    }
}

.small-link {
    @include font-size(12px);
    text-transform: uppercase;
    font-family: $alt-font-family;
    color: $red;
}



/*----------------------------------*\
               FEATURED
\*----------------------------------*/

.image-wrap {
    display: block;
    padding-top: 67%;
    background: #ccc;
    position: relative; 
    overflow: hidden;

    img, .wp-post-image {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: auto;
        z-index: 20;
    }

    .article__title {
        position: absolute;
        bottom: 0; width: 100%;
        z-index: 20;
        @include background-image(linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,.8)));
        color: white;
        @include rem(padding, $_2u $_u $_u);

        .hN {
            width: 60%;
            @include font-size(26px);
        }
    }

    &:after {
        @extend .preloader;
        content: "";
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }
}
