img[width], img[height] {
    max-width: 100%;
    height: auto;
}

.block-list--alt {
    border-top-width: 0;
    margin-top: 0;
    @include rem(margin-bottom, -$_u2);

    > li {
        border-bottom-width: 0;
        padding: 0;
        @include rem(padding-bottom, $_u2);

        + li {
            border-top-width: 1px;
            @include rem(padding-top, $_u2);
        }
    }
}


/*----------------------------------*\
               FEATURED
\*----------------------------------*/

@-webkit-keyframes post-format-icon-border {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(-360deg) rotateY(-270deg) scale(0.5);
    }
    60% {
        -webkit-transform: rotateX(-120deg) rotateY(-30deg) scale(1.25);
    }
    75% {
        -webkit-transform: rotateX(30deg) rotateY(15deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

@-webkit-keyframes post-format-icon-background {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

.post-format-icon {
    // box
    position: absolute;
    top: 50%; left: 50%;
    z-index: 50;
    @include rem(width, 102px);
    @include rem(height, 102px);
    @include rem(margin-top, -57px);
    @include rem(margin-left, -51px);

    // icon
    @include rem(font-size, 41px);
    line-height: 2.3;
    color: white;
    text-align: center;
    @include transform(translateZ(0));

    // background
    background-color: rgba(white, .25);
    background-clip: content-box;
    border: 0px solid transparent;
    @include rem(border-width, 5px);

    // border
    @include box-shadow(0 0 0 rem(5px) white);

    // opacity: 0;
    border-radius: 50%;
    pointer-events: none;

    .icon-camera { @include rem(margin-left, 2px); }
    .icon-play { @include rem(margin-left, 8px); }
}

.post-format-icon--featured {
    @include rem(width, 150px);
    @include rem(height, 150px);
    @include rem(margin-top, -75px);
    @include rem(margin-left, -75px);
    @include rem(font-size, 58px);
    line-height: 2.4;
    // line-height: 2.55;

    .icon-camera { @include rem(margin-left, 4px); }
    .icon-play { @include rem(margin-left, 14px); }
}

.post-format-icon__background {
    // background-color: rgba(white, .25);
    // background-clip: content-box;
    // border: 0px solid transparent;
    // @include rem(border-width, 5px);
    // -webkit-animation: post-format-icon-border 1s forwards;
}

.post-format-icon__border {
    // @include box-shadow(0 0 0 rem(5px) white); 
    // -webkit-animation: post-format-icon-background .4s .6s forwards;
}

.post-format-icon__icon {
    // line-height: 2.5;
    // -webkit-animation: post-format-icon-background .6s .9s forwards;
}




.post-nav {
    position: relative;
}

.post-nav-link {
    @include rem(padding-right, $_u);
    @include rem(padding-left, $_2u);

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        @include rem(width, $_u2);
        @include rem(height, $_u2);
        @include rem(margin-top, -$_u4);
        border: 0 solid $dark;
        @include rem(border-bottom-width, 2px);
    }
}

.post-nav-link--prev {
    text-align: right;

    &:after {
        @include rem(left, $_u);
        @include rem(border-left-width, 2px);
        @include transform(translateZ(0) rotate(45deg));
    }
}

.post-nav-link--next {
    text-align: left;

    &:after {
        right: 0;
        @include rem(border-right-width, 2px);
        @include transform(translateZ(0) rotate(-45deg));
    }
}

.post-nav-link__label {
    @extend .small-link;
}

.post-nav-link__title {
    @extend .gamma;
    color: $dark;
}

.score__average-wrapper {
    @extend .hN;
    position: relative;
    padding-top: 100%;
    background-color: $red;
    color: white;
}

.score__average {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    @include rem(font-size, 72px);
    line-height: 1;
    @include rem(height, 72px);
    vertical-align: middle;
    text-align: center;
}

.average--with-note {
    @include rem(height, 108px);
}

.score__note {
    @include rem(height, $_u);
    @include rem(margin, $_u2);
    overflow: hidden;
    white-space: nowrap;
    @include font-size(14px, true, 1.5);
    border-top: 1px dotted white;
}

.review__score {
    position: relative;
}

.score__label {
    @extend .hN;
    @extend .delta;
}

.score__progressbar {
    @include rem(margin-bottom, $_u);
}

.score__badge {
    width: 1.75em;
    position: absolute;
    @include rem(bottom, 6px);
    right: 0;
    z-index: 20;

    &:after {
        display: none;
    }
}

.score__pros,
.score__cons {
    @extend .grid__item;
    @extend .three-eighths;
}

.score__pros__title,
.score__cons__title {
    color: $red;
    border-bottom: 1px dotted $light;
    @include rem(margin-bottom, $_u2);

    .hN {
        @include rem(margin-bottom, $_u2);
    }
}

.score__pros__list,
.score__cons__list {
    list-style-position: inside;
    margin-left: 0;
}

.wp-smiley {
    width: auto !important;
    display: inline-block;
}

@include media(to lap) {
    .content--404{
        @include rem(margin-bottom, $_2u);
    }
}

.no-slides-message {
    text-align: center;
    color: #bbb;
    @include rem(margin-top, $_u);
    @include font-size(16px);
}