/*----------------------------------------*\
*   $ARROWS, ITEM COUNT
\*----------------------------------------*/
/**
 * Control arrow, current item, total count
 *
    <div class="gallery-control gallery-control--gallery-fullscreen">
        <a href="#" class="control-item arrow-button arrow-button--left js-slider-arrow-prev"></a>
        <div class="control-item count js-gallery-current-slide">
            <span class="highlighted js-decimal">0</span><span class="js-unit">1</span>
            <sup class="js-gallery-slides-total">03</sup>
        </div>    
        <a href="#" class="control-item arrow-button arrow-button--right js-slider-arrow-next"></a>
    </div>
 */

.gallery-control{
    display: block;
    position: absolute;
    @include rem(bottom, $base-spacing-unit);
    @include rem(right, 2 * $base-spacing-unit);
}

.gallery-control--left {
    right: auto;
    @include rem(left, 2 * $base-spacing-unit);
}

/*----------------------------------------*\
*   $GALLERY-CONTROLS
\*----------------------------------------*/

    .control-item{
        display: inline-block;
    }

    .gallery-control__items{
        @extend .nav;
    }

    .gallery-control--popup{
        @include rem(margin-top, $base-spacing-unit * 1.5);
        @include rem(margin-right, $half-spacing-unit/2);
        position: relative;
    }

        .gallery-control__item{
            vertical-align: top;
        }

        .arrow-button{
            @include rem(width, 20px);       
            @include rem(height, 20px);       
            color: white;
            border-color: white;
            border-bottom: 2px solid;
            @include transition(all 0.15s ease-in-out);

            .no-touch &:hover{
                border-color: $accent-color;
            }
        }

        .arrow-button--left{
            border-left: 2px solid;
            @include transform(rotate(45deg));
            @include rem(margin-right, $base-spacing-unit);

            .no-touch &:hover{
                @include transform(translateX(-5px) rotate(45deg));
            }
        }

        .arrow-button--right{
            border-right: 2px solid;
            @include transform(rotate(-45deg));
            @include rem(margin-left, $base-spacing-unit);

            .no-touch &:hover{
                @include transform(translateX(5px) rotate(-45deg));
            }            
        }

        .count{
            font-family: "Josefin Slab", serif;
            color: white;
            @include font-size(42px);
            position: relative;
            @include rem(top, 3px);
            left: 0;

            sup{
                font-family: "Josefin Slab", serif;
                font-size: 50%;
                color: white;               
                @include rem(top, -13px);
                @include rem(left, 5px);

                &:before{
                    position: relative;
                    @include rem(top, 2px);
                    @include rem(left, -3px);
                    content: "/";
                }
            }
        }


.masonry__item {

    .gallery-control {
        width: 100%;
        @include rem(height, $base-spacing-unit);
        left: 0; right: auto;


        .count {
            text-align: right;
            float: right;
            position: absolute;
            top: auto;
            left: auto;
            bottom: 0;
            @include rem(right, $base-spacing-unit);
        }

        .arrow-button--left{
            position: absolute;
            @include rem(left, $base-spacing-unit);
            @include rem(bottom, 4px);
        }

        .arrow-button--right{
            position: absolute;
            @include rem(left, $base-spacing-unit);
            @include rem(bottom, 4px);
        }
    }
}





/*----------------------------------------*\
*   $FULLSCREEN GALLERY
\*----------------------------------------*/

.gallery-control--gallery-fullscreen {
    // @include rem(left, 2*$base-spacing-unit);
    // right:auto;
}