/*----------------------------------------*\
*   $GALLERY ITEM STYLING
\*----------------------------------------*/

/**
 *
    <div class="image__item photography">
        <a href="#" class="image__item-link">
            <div class="image__item-meta">
                <div class="image_item-table">
                    <div class="image_item-cell">
                        <i class="icon-plus"></i>
                    </div>
                </div>
            </div>
            <div class="image__item-wrapper">
                <img
                    class="js-lazy-load"
                    src="..."
                    data-src="..."
                    alt="Photography"
                />
            </div>
        </a>
    </div>
 */

.image__item-link{
    position: relative; 
    display: block;
    width: 100%;
    color: white;

    &:hover{

        .image__item-meta{
            @include opacity(1);
        }

        .image__item-wrapper {
            @include transition(transform .3s ease-in-out);
        }
    }
}

.image__plus-icon {
    font-size: 5em;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    @include transform(scaleX(.9));
}

.image__item-meta{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($accent-color, 0.8);
    @include opacity(0);
    @include transition-property(opacity);
    @include transition-duration(0.3s);
}

.image_item-table{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

.image_item-cell{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    >i{
        @include font-size(36px);
    }
}

.mfp-video .image__item-meta{
    @include opacity(1);
    background: transparent;

    .image_item-table{
        @include opacity(1);
    }
}

.mfp-video:hover .image__item-meta{
    background: rgba($accent-color, 0.8);
    @include transition-property(background);
    @include transition-duration(0.3s);    
}






/*----------------------------------------*\
*   $PORTFOLIO ITEM STYLING
\*----------------------------------------*/

/**
 *
    <div class="image__item photography">
        <a href="#" class="image__item-link">
            <div class="image__item-meta">
                <div class="image_item-table">
                    <div class="image_item-cell image_item-block image_item--top">
                        <h2 class="image_item-title">New York City</h2>
                        <span class="image_item-description">Drive by shooting</span>
                    </div>
                    <div class="image_item-cell image_item-block image_item--bottom">
                        <div class="image_item-meta">
                            <ul class="image_item-categories">
                                <li class="image_item-category">Models</li>
                                <li class="image_item-category">Traveling</li>
                            </ul>
                            <div class="image_item-like-box likes-box">
                                <i class="icon-heart"></i>
                                <div class="likes-text">
                                    <span class="likes-count">3</span> likes
                                </div>                                            
                            </div>
                        </div>
                    </div>                                
                </div>
            </div>
            <div class="image__item-wrapper">
                <img
                    class="js-lazy-load"
                    src="..."
                    data-src="img/medium-1.jpg"
                    alt="Photography"
                />
            </div>
        </a>
    </div>
 */

.image_item--block{
    display: block;
    text-align: left;
    color: black;
    @include rem(padding, $base-spacing-unit);
}

.image_item-cell--top{
    position: absolute;
    top: 0;
    left: 0;
}

.image_item-cell--bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}

    .image_item-title{
        margin: 0;
        text-transform: uppercase;

        @include media(to lap) {
            font-size: 1.2em !important;
        }
        
        @include media(to hand){
            .touch &{
                font-size: 1em !important;            
            }
        }
    }

    .image_item-description{
        font-family: "Roboto", sans-serif;
        @include rem(font-size, 14px);
        font-weight: 300;
        font-style: italic;
    }

        .image_item-categories{            
            @extend .nav;
            @extend .col-6;
            border-left-width: 0;
            margin-bottom: 0;
            text-align: left;


            a {
                text-decoration: none;
            }
        }

            .image_item-cat-icon{
                position: relative;
                top: .1em; left: 0;
                margin-right: 0;

                i{
                    padding-right:3px;
                }

                @include media(to lap) {
                    display: none !important;
                }
            }

            .image_item-category{
                @include rem(margin-right, $half-spacing-unit/2);
                font-family: "Roboto", sans-serif;
                @include font-size(13px);
                font-weight: 300;
                text-transform: uppercase;

                @include media(to lap) {
                    @include rem(margin-right, $half-spacing-unit/3);
                    @include font-size(12px);    
                }
            }

        .image_item-like-box{
            @extend .cf;
            @extend .col-6;
            border-left-width: 0;
            text-align: right;

            i, .likes-text{
                display: inline-block;
            }

            i{
                @include font-size(18px);
                margin-right:0;

                @include media(to lap) {
                    display: none;
                }
            }
        }

/**
 * Hopefully for touch devices
 */

.touch {
    .mosaic__item, .related-projects_item{
        @include rem(margin-bottom, $base-spacing-unit);

        .image__item-meta{
            @include opacity(1);
            position: relative;
            background: transparent;
        }

        .image_item-table{
            @include opacity(1);
        }

        .image_item-description{
            display: none;
        }

        .image_item-cell{
            position: relative;
            @include rem(padding, 6px 0 0 0);
        }

        .image_item-cell--bottom{
            display: none;
        }
    }

    .mosaic__item--page-title, .mosaic__item--page-title-mobile{

        .image__item-meta{
            position: absolute;
            background-color: rgba($accent-color, 0.8);
        }

    } 

    .mosaic__item{
        .image_item-cell{
            @include rem(padding-left, 6px);
        }
    }

    .single-lens_gallery .image__item-meta{
        display: none;
    }

    .single-lens_gallery .mosaic__item--page-title-mobile .image__item-meta{
        display: block;
    }
}        