/**
 * Article likes box styling
 *
    <div class="article-likes__box">
        <i class="icon-heart"></i>
        <span class="likes-count">3</span>
        likes
    </div>
 */

.likes-box {
    font-family: "Open Sans", sans-serif;
    @include font-size(14px);
    text-transform: uppercase;

    .like-link{
        // @include rem(height, 2 * $base-spacing-unit);
        // @include rem(width, 2 * $base-spacing-unit);        
        // background: none;
        // border: none;
        // padding: 0;
        display:inline-block;
    }

    i {
        @include rem(font-size, 22px);
        @include rem(line-height, 2 * $base-spacing-unit);
        text-align: center;
        color: $dark; 
        padding: 0;
        display: block;
        
        @include rem(height, 2 * $base-spacing-unit);
        @include rem(width, 2 * $base-spacing-unit);

        border: 3px solid $dark;
        @include border-radius(50%);

        @include transform(scale(1));


        &:after {
            content:"";
            display:block;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:$dark;
           
            @include border-radius(50%);
            @include transition(all 1s ease-out);
            z-index:-1;

            backface-visibility: visible;
            -webkit-backface-visibility: visible;
            -moz-backface-visibility: visible;
        }
    }

    .image__item-meta & i{
        @include transform(scale(1));
        background-color: transparent;
    }

    .likes-text {
        position:relative;
        top: -0.325em;
        @include rem(margin-left, 7px);
        display:inline-block;

        &:after {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 100px;
            background: #fff;
            text-transform: none;
            font-weight: bold;
            color:$dark;
        }
    }
}

/**
 * Default State - can like (.likeable)
 */
.likeable {
    .like-link {
        cursor: pointer;
    }

    i {
        // background-color: transparent;
        &:after {
             @include transform(scale(0.15));
        }
    } 
}


/**
* Hover State (.animate)
*/
.animate {
    i:after {
        @include transform(scale(1.1));
        @include transition(all 1.7s);
    }

    .likes-text {
        &:after {
            content:"Don't move";
        }
    }
}

/**
* Complete animation (.complete)
*/
.complete {
    i {
        color: $accent-color; 
        background-color: $dark;
        @include rem(font-size, 24px);
        animation: bounce 1s;
        -webkit-animation: bounce 1s;

        &:after {
            @include transform(scale(1.1));
        }
    }
}

/**
* Liked State - cannot like (.liked)
*/
.liked {

    i {
        color: $accent-color; 
        background-color: $accent-color;
        @include rem(font-size, 24px);

        &:after {
            @include transform(scale(1.1));
        }
    }
}



.likes-count{
    font-weight: bold;
}


.likes-box--footer{
    // @include media(from hand) {
    //     float: left;
    // }

    .like-link{
        // @include rem(margin-right, $half-spacing-unit/2);
        // display: inline-block;
        // float: left;
    }

    i{
        // display: inline-block;
    }

    .likes-text{
        // @include rem(margin-top, 1.1 * $half-spacing-unit);
        // display: inline-block;
    }    
}

.image_item-table{
    .like-link, i{
        border: 0;
        width: auto;
        height: auto;
    }
}

.mosaic__item, .masonry__item, .related-projects_item{
    
    .like-link{
        cursor: default;
        
        & i {
            @include rem(height, $base-spacing-unit);
            @include rem(width, $base-spacing-unit);
            background: none;
            border:none;
            color:$dark;
            padding: 0;
            @include transform(scale(1));

            &:after {
                background:transparent;
            }
        }
    }
    .likes-text {
        top:-1px;
        margin-left:0;
    }
}


/*
* Bounce animation for completed state
*/
@keyframes bounce { 
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: .7;
  }
  60% {
    transform: scale(0.6);
    opacity: 1;
  }
  80% { transform: scale(1.1) }
  100% { transform: scale(1) }
}

@-webkit-keyframes bounce { 
  0% {
    -webkit-transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    opacity: .7;
  }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 1;
    }
  80% { -webkit-transform: scale(1.1) }
  100% { -webkit-transform: scale(1) }
}

@-moz-keyframes bounce { 
  0% {
    -moz-transform: scale(1.1);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.5);
    opacity: .7;
  }
  60% {
    -moz-transform: scale(0.6);
    opacity: 1;
  }
  80% { -moz-transform: scale(1.1) }
  100% { -moz-transform: scale(1) }
}