/**
 * Article likes box styling
 *
    <div class="article-likes__box">
        <i class="icon-heart"></i>
        <span class="likes-count">3</span>
        likes
    </div>
 */

.likes-box{
    font-family: "Open Sans", sans-serif;
    @include font-size(14px);
    text-transform: uppercase;

    .like-link{
        @include rem(height, 2 * $base-spacing-unit);
        @include rem(width, 2 * $base-spacing-unit);        
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        border: 3px solid black;
        @include border-radius(50%);
    }
    
    i{
        @include rem(height, 2 * $base-spacing-unit);
        @include rem(width, 2 * $base-spacing-unit);
        @include rem(padding-top, $half-spacing-unit);
        @include border-radius(50%);
        margin-top: -3px;
        margin-left: -3px;
        padding-right: 0;
        color: black !important; background-color: $accent-color;
        @include transform(scale(0.75));
        @include font-size(18px);
        text-align: center;
    }

    .image__item-meta & i{
        @include transform(scale(1));
        background-color: transparent;
    }
}

    .likes-count{
        font-weight: bold;
    }

.can_like i{
    background-color: transparent;
    @include transform(scale(1));
}

.animate-like{
    animation: like-animation 1s;
    -webkit-animation: like-animation 1s;
}

.can_like .like-complete{
    color: black !important; background-color: $accent-color;
    @include transform(scale(0.75));
}

@keyframes like-animation{
    0%   { 
        background-color: white; 
        @include transform(scale(1) translate3d(0, 0, 0));
    }
    65%  { 
        @include transform(scale(1.2));
    }
    100% { 
        color: black; background-color: $accent-color;
        @include transform(scale(0.75));
    }
}

@-webkit-keyframes like-animation{
    0%   { 
        background-color: white; 
        @include transform(scale(1) translate3d(0, 0, 0));
    }
    65%  { 
        @include transform(scale(1.2));
    }
    100% { 
        color: black; background-color: $accent-color;
        @include transform(scale(0.75));
    }
}

.likes-box--footer{
    @include media(from hand) {
        float: left;
    }

    .like-link{
        @include rem(margin-right, $half-spacing-unit/2);
        display: inline-block;
        float: left;
    }

    i{
        display: inline-block;
    }

    .likes-text{
        @include rem(margin-top, 1.1 * $half-spacing-unit);
        display: inline-block;
    }    
}

.image_item-table{
    .like-link, i{
        border: 0;
        width: auto;
        height: auto;
    }
}

.masonry__item{
    .like-link{
        border: none;
        height: auto;
        width: auto;
        cursor: default;
        
        & i{
            height: auto;
            width: auto;
            background: none;
            @include transform(scale(1));
        }
    }
}