/*----------------------------------------*\
*   $META BOXES
\*----------------------------------------*/
/**
 * Boxes for categories, tags
 *
     <div class="entry__meta-box meta-box--categories">
        <span class="meta-box__box-title">Filled under: </span>
        <a href="http://localhost/prism/?cat=2" title="View all posts in Ideas" rel="category">Ideas</a>, 
        <a href="http://localhost/prism/?cat=3" title="View all posts in Life" rel="category">Life</a>.
    </div>
    <div class="entry__meta-box meta-box--tags">
        <span class="meta-box__box-title">Tagged: </span>
        <a href="http://localhost/prism/?cat=2" title="View all posts in Ideas" rel="category">Ideas</a>, 
        <a href="http://localhost/prism/?cat=3" title="View all posts in Life" rel="category">Life</a>.
    </div>
 */

.entry__meta-box{
    @include font-size(14px);

    a{
        font-family: "Josefin Slab", serif;
        text-decoration: none;
        color: $dark;
        font-weight: bold;
    }
}

    .meta-box__box-title{
        display: block;
        font-family: "Crimson Text", serif;
        font-style: italic;
    }