.pagination{
    border: none;

    .pagination-item--current span{
        background-color: $accent;
        color: white;
    }

    .pagination-item--previous:before,
    .pagination-item--next:after{
        content: '';
        display: inline-block;
        @include transform(rotate(45deg));
        @include rem(width, 12px);
        @include rem(height, 12px);
    }

    .pagination-item--previous:before{
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    } 

    .pagination-item--next:after{
        border-right: 2px solid black;
        border-top: 2px solid black;     
    }

    li{
        a, span{
            @include rem(padding, $_u4 $_u2);
            color: black;
            @include font-size(16px);
            font-family: "Arvo";
            text-transform: uppercase;
        }
    }
}