.pagination{
    border: none;
    text-align: center;
    @include rem(margin, $_2u 0);

    .pagination-item--current span{
        background-color: $accent;
        color: white;
    }

    .pagination-item--prev a:before,
    .pagination-item--next a:after{
        content: '';
        display: inline-block;
        @include transform(rotate(45deg));
        @include rem(width, 10px);
        @include rem(height, 10px);
        @include rem(margin, 0 $_u4);
    }

    .pagination-item--prev a:before{
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    } 

    .pagination-item--next a:after{
        border-right: 2px solid black;
        border-top: 2px solid black;     
    }

    .pagination-item--next{
        @include rem(margin-left, $_u);
    }

    .pagination-item--prev{
        @include rem(margin-right, $_u);
    }    

    li{
        a, span{
            @include rem(padding, $_u4 $_u2);
            color: black;
            @include font-size(16px);
            font-family: "Arvo";
            text-transform: uppercase;
        }
    }
}