.form-search {
    position: relative;
    width: 100%;
    @include rem(height, 36px);
}

.search-query {
    width: auto !important;
    @include font-size(14px);
    border: 1px solid #ddd;
    position: absolute;
    left: 0;
    top: 0;
    @include rem(right, $_2u);
    outline: none !important;
    line-height: 1.2;
    padding: 8px $_u2;
}

.search-submit {
    position: absolute;
    top: 0; right: 0;
    height: 44px;
    // border: 1px solid $dark;
    @include font-size(14px);
    @include rem(width, $_2u);
    @include rem(padding, $_u4);
    text-align: center;
}

@include media-query(lap-and-up) {
    .search-form--404{
        width: 50%;
    }
}