/*----------------------------------------*\
*   $SOCIAL LINKS
\*----------------------------------------*/

/**
 * Social links/icons styling
 *
    <div class="social-links">
        <span class="social-links__message">Share: </span>
        <ul class="social-links__list">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
        </ul>
    </div>
 */

.social-links{

}

    .social-links__message{
        display: inline-block;
        @include rem(margin-right, $half-spacing-unit);
        font-family: "Open Sans", sans-serif;
        @include font-size(12px);
        text-transform: uppercase;
        // line-height:3.5;
        position: relative;
        top: -0.25em;
    }

    .social-links__list{
        @extend .nav;
        display: inline-block;
        margin-bottom: 0;
        // @include rem(margin-right, -$half-spacing-unit/2);

        a{
            @include rem(padding, $half-spacing-unit/2 0);
            @include rem(font-size, 22px);
            color: $light;
            text-decoration: none;

            i {
                padding-right:0;
            }

            &:hover {
                color:$gray;
            }
        }
    }

.site-social-links {
    @extend .nav;
    font-size: 1.4em;
    margin-right: 1em;
}

.site-social-links__social-link {
    
    a {
        color: #91908e;

        i {
            padding-right: 0;
        }
    }
}