

.block-inverse {

	&, %heading {
		color: white;
	}

	a {
		color: white;
	}
}

//Main Colors

//White (default)
//.block 				{ background-color: $white; }

//Light
.block-light 		{ background-color: $grayLightest;	}

//Dark
.block-dark 		{ background-color: $grayDark; @extend .block-inverse; a {@extend %accentColor; }; color:$grayLightest; }

//Color
.block-color 		{ @extend %accentBgColor; &, %heading {color:white} a {color: $grayDark} }

//Others (not used)
.block-white 		{ background-color: $white 			}
.block-lightest 	{ background-color: $grayLightest 	}
.block-lighter  	{ background-color: $grayLighter 	}
.block-gray 		{ background-color: $gray 			}
.block-darker 		{ background-color: $grayDarker; @extend .block-inverse; }
.block-darkest 		{ background-color: $grayDarkest; @extend .block-inverse; }