$accent-color: $grayLightest;

pre {
  position: relative;
  white-space: pre;
  word-wrap: normal;
  width: 100%;


  &:before {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: .5em;
    opacity: 1;
    line-height: 1.5;
    cursor: default;
    font-size: 1em;
  }
  
    overflow-x: scroll;
    display: block;
    padding: 0 1em;
    background: $accent-color;
    @include background-image(linear-gradient(darken($accent-color, 2%) 50%, transparent 50%));
    background-size: 100% 3em;
    background-position: 0 1.5em;
    background-origin: content-box;
    line-height: 1.5;
    font-size: 1em;
}

.css:before { content: "CSS";  }
.html:before { content: "HTML"; }
.javascript:before { content: "JavaScript"; }
.jquery:before { content: "jQuery"; }
.php:before { content: "PHP"; }
.scss:before { content: "SCSS"; }
.sublime-snippet:before { content: "Sublime Snippet"; }