.comments-title, #reply-title {
	@include rem(padding, 22px 0 14px);
	font-weight: 800;
	@include fs(18px);
	letter-spacing: .15em;
	text-transform: uppercase;
}

#reply-title {
	// @include rem(margin-bottom, $unit);
	padding: 0;
}

#cancel-comment-reply-link{
	@include rem(padding, $unit 0);
	color: $accentColor;
	display: block;
}

//#comments
.comments-area {
	@include rem(margin-top, $unit);

	ul, ol {
		@extend %unstyled;
	}

	ol li:before {
		display: none;
	}

	.children {
		@include rem(margin-bottom, -1 * $unit);

		@include media(from lap) {
			@include rem(padding-left, 70px + $unit);
		}
		position: relative;

		.comment {
			border-bottom: 0;
		}
	}
}

.comments-area-title{
	padding-top: 0;
	padding-bottom: 0;

/*	@include rem(padding-left, 72px);

	@include media(to lap) {
		display: none;
		@include rem(padding-left, 48px);
	}

	@include media(to lap) {
		@include rem(padding-left, 48px);
	}

	@include media(to hand) {
		@include rem(padding-right, 24px);
	}	
	border-left: 4px solid $accentColor;*/

	@include media(to lap){
		display: none;
	}

	@include media(from lap) {
		border-left: 4px solid $accentColor;		
		text-align: left;
		@include rem(padding-left, 68px);
		@include rem(margin-left, -72px);
	}
}

// .mobile-comments{
// 	text-align: center;
// 	@include fs(30px);
// 	font-family: "Lato";

// 	@include media(from lap){
// 		display: none;
// 	}
// }

.commentlist {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.comment, .pingback, .trackback {
	@extend %clearfix;
	@include rem(padding, $unit 0);
	position: relative;
	@include rem(padding, $unit 0);
	border-bottom: 1px solid $grayLighter;
	color: $gray;
	font-size: 16px;
	font-size: rem(16px);

	&:hover .comment-reply-link {
		text-decoration: none;
	}

	&.bypostauthor {
		background: none;

		.comment-author {
			@extend %accentColor;
		}
	}
}


.comment-respond{
	@include rem(margin-top, $unit);
}

.comment_content{
	@include fs(14px);
}

.reply {
	position: absolute;
	@include rem(top, $unit);
	right: 0;
}

.comment-reply-link {
	margin-left: 10px;
	color: $grayLight;
	@include fs(13px);
	font-weight: normal;
	text-transform: capitalize;
}

.comment-author {
	@include fs(16px);
	@include rem(margin-bottom, 8px);
	color: $grayDarker;
	font-weight: bold;
	letter-spacing: 2px;

	.fn {
		font-style: normal;

		a {
			color: $grayDarker;
		}
	}

	time {
		text-transform: none;
		font-weight: normal;
		@include fs(15px);
		@include rem(margin, 0 $unit/2);

		a {
			color: $grayLight;
		}
	}
}

.comment-edit-link {
	@include fs(13px);
	visibility: hidden;

	.comment article:hover & {
		visibility: visible;
	}
}

.comment-author, .comment_content, .comment .alert {
	@include rem(padding-left, 70px + $unit);
}

.comment-form-author, .comment-form-email, .comment-form-comment {
	@include rem(margin-bottom, 0.75*$unit);

	label {
		display: block;
		@include fs(16px);
		color: #333;

		span {
			@include rem(font-size, 14px);
			color: #838383;
		}
	}
}

.comment-form-comment{
	width: 90%;
	float: right;
}

.comment .alert {
	font-style: italic;
}

.comment_content {
	p:last-child {
		margin-bottom: 0;
	}
}

.comment-author-avatar {
	float: left;

	.avatar {
		@include rem(width, 56px);
		@include rem(height, 56px);
		@include border-radius(50%);
	}
}

.comment-date {
	color: $gray;
	font-size: 14px;
	font-size: rem(14px);

	&:hover {
		color: $gray;
	}
}

.logged-in-as {
	@include rem(margin, 0 0 $unit/2);
}

.form-fields{
	@extend %clearfix;

	@include media(from lap){
		@include rem(margin-left, 3*$unit);
	}
}

.comment-form-author-wrapper, .comment-form-email-wrapper, .comment-form-message-wrapper{
	display: block;
	float: left;
}
.comment-form-author-wrapper, .comment-form-email-wrapper{
	width: 100%;	

	@include media(from lap){
		width: 50%;
	}
}

.comment-form-author-wrapper,
.comment-form-email-wrapper{
	@include media(to lap){
		padding: 0 !important;
		@include rem(margin-top, $unit/2);
	}
}

.comment-form-author-wrapper{
	@include rem(padding-right, $unit/4);
}

.comment-form-email-wrapper{
	@include rem(padding-left, $unit/4);
}

.comment-form-message-wrapper{
	width: 100%;
	@include rem(margin-top, $unit/2);
}

#commentform{
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input:not([type]),
	textarea,
	.wpcf7-radio {
		@include transition(background-color .3s ease-in-out);
		@include rem(padding, $unit/2);
		@include border-radius(5px);
		@include fs(14px);
		font-family: "Open Sans";
		border: 0;
		background: $grayLightest;
		&:focus {
			outline: none;
		}
	}


	input[type="text"],
	input[type="email"]
	{
		@include rem(margin-top, $unit/6);
		width: 100%;
		display: inline-block;
		@extend %clearfix;	
	}

	@include placeholder() {
		color: $grayDark;
		font-weight: 300;
		letter-spacing: 0.125em;
	}

	textarea {
		@include rem(min-height, 4.5*$unit);
		width: 100%;
		border-bottom: 0;
	}

	input[type="text"],
	input[type="email"],
	textarea{
		.lt-ie9 &{
			border: 1px solid $gray;
		}
	}		
}

.form-submit {
	@extend %clearfix;
	display: block;
	text-align: right;
}

#comment-submit {
	@include rem(margin, $unit/2 0);	
	color: $accentColor;
	background: none;
	border: none;
	padding: 0;
}

.bypostauthor {
	background: $white;
}

#respond {
	border-bottom: 1px solid $grayLightest;
}

#comment {
	min-height: 150px;
	max-width: 100%;
}

.comment-author-image{
	float: left;

	@include media(to lap) {
		display: none;
	}
}