//Featured Image Area
body > .parallax-container {
	
	.featured-image-container {
		@include rem(padding-top, 175px + 3*$unit);
	}
}

.wrapper-featured-image {
	position: relative;

	@include media(from lap) {
		@include rem(min-height, 3*$unit);
	}
}

.header-image {
	position: absolute;
	top: 0; left: 0;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.parallax-container {

	@include media(to lap) {
		position: absolute !important;
	}
	
	top: 0; left: 0;
	width: 100%;
	overflow: hidden;

	@include media(from lap) {
		.admin-bar & {
			top: 28px !important;
		}
	}

	.touch & {
		position: absolute !important;
	}
}

.parallax-item {
	display: block;
	width: 100%;
	height: 100%;

	@include media(to lap) {
		@include transform(none !important);
		top: 0 !important;

		img {
			width: 100% !important;
			height: auto !important;
		}
	}
}

.featured-image-container {
	overflow: hidden;
}

.wrapper-featured-image {
	overflow: hidden;
	background: black;

	img {
		width: 100%;
		display: block;
		left: 0 !important;
	} 
}

.single-post {
	.featured-image-container-wrapper {
		.video-wrap {
			@include rem(margin, 0 0 0);
		}
	}
}

.page-header {
	@extend %clearfix;
	position: relative;
	top: 0; left: 0;
	z-index: 10;
	@include rem(padding, 144px 72px 36px);

	@include rem(min-height, 12* $unit);

	@include media(to lap) {
		@include rem(padding, 72px 48px 24px);
		@include rem(min-height, 9 * $unit);
	}

	@include media(to hand) {
		@include rem(padding, 24px);
		@include rem(min-height, 6 * $unit);
	}
	
	%heading {
		padding: 0;
	}
}

.page-header-video{
	@include rem(margin-top, 3*$unit);
}

.page-header, .page-header-wrapper, .cat-header-wrapper {

	.alpha, .beta, .gama, .delta {
		@include rem(padding, $unit/2 0);

		@include media(to hand) {
			@include rem(padding, $unit/4 0);
		}
	}

	.row {
		@extend %clearfix;
		display: block;
		@include rem(margin-left, -48px);
	}

	.span1, .span2, .span3, .span4,
	.span5, .span6, .span7, .span8,
	.span9, .span10, .span11, .span12 {
		display: block;
		float: left;
		@include rem(border-left-width, 48px);
	}
}