@charset "UTF-8";

$fontPath2:   "fonts/linecons" !default;

@font-face {
    font-family: 'linecons';
    src: url('#{$fontPath2}/linecons.eot');
    src: url('#{$fontPath2}/linecons.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath2}/linecons.woff') format('woff'),
         url('#{$fontPath2}/linecons.ttf') format('truetype'),
         url('#{$fontPath2}/linecons.svg#linecons') format('svg'); 
    font-weight: normal; 
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'linecons';
    src: url('#{$fontPath2}/linecons.svg#lineicons') format('svg');
  }
}

 [class^="icon-l-"]:before, [class*=" icon-l-"]:before {
  font-family: "linecons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block; 
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-l-heart:before { content: '\e91f'; } /* '' */
.icon-l-cloud:before { content: '\e945'; } /* '' */
.icon-l-star:before { content: '\e920'; } /* '' */
.icon-l-tv:before { content: '\e92d'; } /* '' */
.icon-l-sound:before { content: '\e92a'; } /* '' */
.icon-l-videocam:before { content: '\e922'; } /* '' */
.icon-l-trash:before { content: '\e940'; } /* '' */
.icon-l-user:before { content: '\e921'; } /* '' */
.icon-l-key:before { content: '\e94b'; } /* '' */
.icon-l-search:before { content: '\e91d'; } /* '' */
.icon-l-cog:before { content: '\e927'; } /* '' */
.icon-l-camera:before { content: '\e923'; } /* '' */
.icon-l-tag:before { content: '\e93a'; } /* '' */
.icon-l-lock:before { content: '\e938'; } /* '' */
.icon-l-lightbulb:before { content: '\e92c'; } /* '' */
.icon-l-pencil:before { content: '\e93c'; } /* '' */
.icon-l-diamond:before { content: '\e935'; } /* '' */
.icon-l-desktop:before { content: '\e92e'; } /* '' */
.icon-l-location:before { content: '\e93e'; } /* '' */
.icon-l-eye:before { content: '\e939'; } /* '' */
.icon-l-comment:before { content: '\e93d'; } /* '' */
.icon-l-inbox:before { content: '\e943'; } /* '' */
.icon-l-cup:before { content: '\e93f'; } /* '' */
.icon-l-mobile:before { content: '\e92f'; } /* '' */
.icon-l-doc:before { content: '\e941'; } /* '' */
.icon-l-mail:before { content: '\e91e'; } /* '' */
.icon-l-thumbs-up:before { content: '\e93b'; } /* '' */
.icon-l-photo:before { content: '\e924'; } /* '' */
.icon-l-note:before { content: '\e926'; } /* '' */
.icon-l-clock:before { content: '\e92b'; } /* '' */
.icon-l-paper-plane:before { content: '\e946'; } /* '' */
.icon-l-params:before { content: '\e928'; } /* '' */
.icon-l-money:before { content: '\e932'; } /* '' */
.icon-l-database:before { content: '\e94a'; } /* '' */
.icon-l-music:before { content: '\e91c'; } /* '' */
.icon-l-megaphone:before { content: '\e949'; } /* '' */
.icon-l-graduation-cap:before { content: '\e948'; } /* '' */
.icon-l-beaker:before { content: '\e930'; } /* '' */
.icon-l-food:before { content: '\e933'; } /* '' */
.icon-l-t-shirt:before { content: '\e936'; } /* '' */
.icon-l-fire:before { content: '\e947'; } /* '' */
.icon-l-attach:before { content: '\e925'; } /* '' */
.icon-l-shop:before { content: '\e934'; } /* '' */
.icon-l-calendar:before { content: '\e929'; } /* '' */
.icon-l-wallet:before { content: '\e937'; } /* '' */
.icon-l-cd:before { content: '\e942'; } /* '' */
.icon-l-truck:before { content: '\e931'; } /* '' */
.icon-l-globe:before { content: '\e944'; } /* '' */

