/**
 * Footer
*****************************************************/
.wrapper-footer {
	font-weight: normal;
	color: $grayLight;

	ul, ol {
		@extend %unstyled;
	}
}

.widget_footer {
	clear: both;
	@include rem(margin-bottom, $unit);

	&:last-child {
		margin-bottom: 0;
	}

	.form-search .submit {
		@include fs(22px);
	}
}

.widget-title_footer, .wrapper-footer_sidebar .widget-title {
	@include rem(margin-bottom, $unit/3);
	color: white;
	font-weight: bold;
}

/**
 * Footer Main/First Section
 *****************************************************/
.wrapper-footer_sidebar {
	background-color: #222;
	width: 100%;
	@include fs(16px);

	@include media(from desk) {
		@include fs(14px);
	}
}

.sidebar-footer-container {

	a {
		color: $grayLightest;

		&:hover {
			color: $accentColor;
		}
	}

	.twitter-tweet-meta a, .widget-tweets-tweet-date {
		color: $grayLight;
	}

	.wp-slider, .widget_wpgrade_twitter_widget1, .latest-posts-slider1 {
		@extend %clearfix;
		height: auto !important;

		.flex-control-paging > li > a {
			background-color: $gray;
		}

		.flex-control-paging > li > a.flex-active {
			background-color: $accentColor;
			left: 0;
		}

		.flex-control-nav {
			float: left;
		}

		.flex-direction-nav {
			float: right;

			> li {
				display: inline-block;
			}
		}

		.flex-prev, .flex-next {
			color: $grayLight;
			font-size: 0.75em;
			padding: 0 0.5em;

			&:hover {
				color: $accentColor;
			}
		}
	}

	.latest-posts-slider {
		@include media(from desk) {
			.flex-direction-nav, .flex-control-nav {
				position: absolute;
				right: 50%;
				@include rem(bottom, 5px);
				@include rem(margin-right, $unit*3/2);
			}	
			.flex-control-nav {
				left:0;
			}
		}
	}

	ul.menu {
		overflow: hidden;

		li {
			border-bottom: 1px dashed $gray;
			margin-bottom: -1px;

			a {
				display: block;
				padding: .75em 1em .75em 0;
			}
		}
	}
}

/**
 * Footer Sidebar Left Container
*****************************************************/

.sidebar-footer_left {
	@include fullbg(#333333, true, false);
	@include rem(padding-top, $unit); 

	@include media(from lap) {
		@include rem(padding-bottom, 1000px);
		@include rem(margin-bottom, -1000px !important);
		@include rem(padding-right, $unit);
		width: 50%;
		float: left;
		vertical-align: top; 
	} 
 
	.widget-title { 
		@include fs(22px)
	}	 
}

/**
 * Footer Sidebar Right Container (Middle and Right)
*****************************************************/

.sidebar-footer_right-container {
	@include media(to lap) {
		@include rem(padding-top, $unit);
	}

	.widget {
		@include media(to lap) {
			@include rem(margin-bottom, $unit);
		}
	}

	.widget-title {
		@include fs(22px)
	}

	@include media(from lap) {
		width: 50%;
		float: right;
		@include rem(padding, $unit 0 $unit $unit);
		vertical-align: top;
	}

	.widget_wpgrade_twitter_widget {

		.widget-title:before {
			content: "\f099";
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			font-size: 1.2em;
			margin-right: .5em;
		}

		.twitter-icon {
			display: none;
		}

		.widget-tweets.widget-tweets_footer.slides {
			margin-left: 0;
		}

		.widget-tweets-tweet-content {

			a {
				color: $accentColor;
			}
		}
	}

	.widget_calendar {
		
		table {
			width: 100%;
		}
	}
}

.textwidget {
	@extend %clearfix;
}

.widget_wpgrade_contact_widget a {
	color: $accentColor;
}

//??? Asa nu!!! (am mutat in shame.scss)

// .footer-author-avatar {
// 	@include rem(width, 100px);
// 	@include rem(padding-right, $unit);
// 	@include rem(margin-bottom, $unit);
// 	float: left;

// 	+ p {
// 		@include rem(margin-left, 100px);
// 	}
	
// 	img {
// 		width: 100%;
// 		height: auto;
// 	}
// }

/**
 * Footer Bottom
*****************************************************/

.main-footer_siteinfo{
	color: $grayLight;
	background-color: #111111;
	@include rem(padding-top, $unit);
	@include rem(padding-bottom, $unit);

	.footer_left {
		@include fs(14px);
	}
}

.main-footer_siteinfo {

	.block-inner {
		@include media(from lap) {
			@include rem(padding, $unit 2*$unit);
		}
	}

	p {
		margin: 0;

		@include media(to lap) {
			text-align: center;
		}
	}

	a > i.shc {
		color:#4c4e4f;
	}
}

/**
* [WIDGET] Recent Posts
*/

.widget_recent_entries{

	li {
		@include rem(margin-bottom, $unit);
	}

	a {

		@include media(to lap) {
			text-decoration: underline;
		}

		display: block;
		color: $grayLight;
	}

	.post-date {
		font-family: "Georgia", serif;
		font-style: italic;
		color: $gray;
	}
}

/**
* [EXTRA] Other Stuff
*/

.newsletter_subscribe {
	// position: relative;
	// @include rem(padding-right, $unit);
	overflow: hidden;
	@include rem(margin-bottom, 3px);
	position: relative;

	.email {
		width: 95%;
	}

	.submit {
		background-color: $accentColor;
		color: white;
		position: absolute;
		top: 0; right: 0;
		border: 0;
		height: 100%;
		padding: 0 1em;
	}
}

footer .widget_nav_menu .widget-title {
	margin-bottom:0;
}
