/*--------------------------------*\
               HEADER
\*--------------------------------*/

.header {
    @extend .inverse;
    width: 100%;
    position: absolute;
    z-index: 300;
    -webkit-animation: slide-in .3s bezier(easeInOutQuart) forwards;
       -moz-animation: slide-in .3s bezier(easeInOutQuart) forwards;
         -o-animation: slide-in .3s bezier(easeInOutQuart) forwards;
            animation: slide-in .3s bezier(easeInOutQuart) forwards;
    @include transform(none);

    @include media(from hand) {
        height: 100%;
        position: fixed;
        overflow-y: auto;
        @include rem(padding-left, $base-spacing-unit);
        @include rem(padding-right, $base-spacing-unit);
        @include rem(width, 250px);
        @include rem(padding-left, 2*$base-spacing-unit);
        background-color: $dark;

        &:before, &:after { 
            content: "";
        }
    }

    // add the gradient stuff
    &:before, &:after {
        position: absolute;
        display: block;
        top: 0;
        height: 100%;
        z-index: 20;
        @include rem(width, 7px);
        @include rem(left, $base-spacing-unit);
    }
    
    // the actual gradient
    &:before {
        background-color: $other-color;
        background-size: 1px rem(12 * $base-spacing-unit);
        background-repeat: repeat-x;
        @include background-image(linear-gradient($accent-color, $other-color));
        height: 0%;
        @include transition(height 3s .5s);

        .loaded & {
            height: 100%;
        }
    }

    // the striped overlay
    &:after {
        background-size: 1px rem($base-spacing-unit/2);
        @include background-image(linear-gradient($dark 5%, $dark 91.66%, transparent 91.66%, transparent));
    }

    a {
        text-decoration: none;
    }
}

.header__inner-wrap {

    @include media(to hand) {
        position: relative;
        left: 100%;
        @include rem(top, -3 * $base-spacing-unit);
        width: 75%;
        height: 100%;
        @include rem(padding, $half-spacing-unit $base-spacing-unit);
        padding-bottom: 0;
        background: $dark;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/**
*
* Wrapper used to style navigation on small screens
*
**/
.site-footer {
  /* @todo: move with javascript */
  @include media(to hand) {
    display: none;
  }
}





/*----------------------------------------*\
*   $TRANSPARENT
\*----------------------------------------*/

@include media(from hand) {
    
    /*body*/.header-transparent{

        .header{
            background-color: transparent;
            @include background-image(linear-gradient(left, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0) 100%));
            @include rem(padding-bottom, $base-spacing-unit );

            a{
                color: white;
            }

            &:before, &:after{
                display: none;
            }
        }

        .site-header__branding{
            background: none;
            color: white;
        }

        .site-navigation--main, .menu-item--main{
            border: none;
        }

        .menu-item--parent:after{
            border-top-color: white;        
        }

        .site-footer{
            display: none;
        }

        .header-extra{
            display: none;
        }
    }
}

/*body*/.header-inverse-color{
    .header{
        @include background-image(linear-gradient(left, rgba(255,255,255,0.4) 5%, rgba(255,255,255,0) 100%));
        background: white;

        &:before, &:after{
            display: none;
        }

        a{
            color: black;
        }
    }

    .site-header__branding{
        background: transparent;
        color: black;
    }

    .menu-item--parent:after{
        border-top-color: black;        
    }    
}




/*------------------------------*\
               LOGO
\*------------------------------*/

.site-header__branding {
    @include rem(height, 3 * $base-spacing-unit);
    background-color: $dark;
    @include backface-visibility(hidden);
    @include perspective(1000px);
    overflow: hidden;

    @include media(from hand) {
        @include rem(margin, $base-spacing-unit 0);
        padding-left: 0;
        padding-right: 0;
    }
}

.site-logo {
    display: block;
    text-transform: uppercase;

    h1 {
        margin: 0;
    }
}