$item_grid_gutter: 20px;

.portfolio-rows {
	@extend %unstyled;
	margin: 0;
	@include fs(15px);
	color:$grayDark;
	font-weight: 500;
	letter-spacing: 1px;
	background:$white;
	overflow: hidden;

	img {
		width: 100%;
	}

	.portfolio-archive {
		.loading-gif {
			width:100%;
			height:100%;
			position: absolute;
			top:0;left:0;
			z-index: 999999;
			background-color: rgba(255,255,255,0.8);
			background-image: url('../images/loader2.gif');
			background-position: 50% 15px;
			background-repeat: no-repeat;
			opacity: 0.8;
		}
	}
}


.portfolio-row {
	position: relative;

	.block {
		overflow: hidden;

		&:hover {
			
		}

		@include media(from lap) {
			@include background-size(cover);
			background-position: center;
			background-repeat:no-repeat;

			img {
				display: none;
			}
		}
	}

	.portfolio-image-wrapper {

		img {
			display: block;
			width:100%;
		}
	}

	.block-image {
		@include transition(all 0.2s);
		border: 0;

		&:hover {
			@include opacity(0.85);
		}
	}

	.block > .block-image {
		display: block;
	}
}

.portfolio-item_title {
	text-transform: uppercase;
	letter-spacing: 0.125em;
	font-weight: bold;
	a {
		color:$grayDark; 
	}
}

.portfolio-item_title-separator {
	background: none;
	@include rem(width, $unit);
	@include rem(margin-bottom, ($unit - 3px));
	border: 0;
	border-top: 3px solid $grayDarkest;
	text-align: left;
	float: left;
	display: block;
}

.portfolio-item_desc {
	clear: both;
}

.portfolio-item_categories {
	@extend %menu;
	@extend %menu-horizontal;
	margin: 0;
}

.portfolio-item_cat {
	@include rem(margin-right, $unit);
	text-transform: uppercase;
	@include fs(12px);
	color: $grayLight;
}

.portfolio-item_cat-link {
	color: #ababab;
	&:hover {
		@extend %accentColor;
	}
}

.isotope {
	@include transition(height .8s bezier(easeInOutQuad));
}

.isotope-item {
	@extend %easeInOutQuad;
}

.filter-by_list, .portfolio_category_list {
	@extend %menu;
	@extend %menu-horizontal;
	margin: 0;
	float: right;
}

.filter-by_list-item {
	width: 100%;
	display: block !important;
}

.filter-by_link {
	display: block;
	color: white;
}

// ARROWS
.arrow {
	position: relative;

	&:before {
		position: absolute;
		z-index: 100;
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		pointer-events: none;
		border-width: 12px;
	}
}

.arrow-top {
	
	&:before {
		@include rem(left, 48px + 5px);
		bottom: 100%;
		border-bottom-color: white;
	}

	&.block-inner_first:before {
		@include rem(left, 72px + 5px);
	}
}

.arrow-right {

	&:before {
		@include rem(top, 36px + 5px);
		left: 100%;
		border-left-color: white;
	}
}

.arrow-bottom {

	&:before {
		@include rem(left, 48px + 5px);
		top: 100%;
		border-top-color: white;
	}

	.block-color &:before {
		@extend %accentBorderTopColor;
	}

	&.block-inner_first:before {
		@include rem(left, 72px + 5px);
	}
}

.arrow-left {

	&:before {
		@include rem(top, 36px + 5px);
		right: 100%;
		border-right-color: white;
	}
}

// Portfolio Navigation

.portfolio-navigation {
	@include rem(padding-top, 48px);
	@include rem(padding-bottom, 48px);
}

.main-featuredworks{
	background: white;
	// background: pink; //debug
}


.portfolio-container {
	position: relative;

	@include rem(margin-left, -$item_grid_gutter/2 !important);
	@include rem(margin-right, -$item_grid_gutter/2 !important);

	.flex-direction-nav {
		top: 0;
		@include rem(right, $item_grid_gutter/2);

		@include media(to hand) {
			@include rem(margin-bottom, $unit);
		}
	}
}

.portfolio-container-no-title{
	@include rem(padding-top, 2*$unit);
}


.featuredworks-title {

	@include media(from hand) {
		left: $item_grid_gutter/2;
		position: relative;
	}
}

.filter-container{
	position: relative;
	width: 100%;
}

.filter-by-container {
	@include rem(margin, 0 auto $unit);
	@include rem(width, 9*$unit);

	@include media(from hand) {
		position: absolute;
		top:0;
		@include rem(right, $item_grid_gutter/2);
	}

	h2 {
		display: inline-block;
		@include rem(margin-right, $unit/2);
	}

	.filter-by-toggle{
		display: block;
	}

	.filter-by-text{
		display: block;
		width: 100%;
		@include rem(margin-right, 5*$unit);
	}

	> a {
		display: inline-block;
		text-transform: uppercase;
		color: white;
		margin: 0 auto;
		overflow: hidden;
		position: relative;

		span {
			width: 100%;
			display: block;
			@include rem(padding, $unit/2);
			background-color: $accentColor;
		}

		i {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 8% 0.75rem;
			background-color: rgba(black, 0.2);

			.lt-ie9 & {
				top: 20px;
				right: 10px;
			}			
		}
	}

	.list-active {
		display: block;
		background-color: $darkerAccentColor;
	}

	&:hover i {
		background-color: transparent;
	}
}

.filter-by_list {
	display: none;
	position: relative;
	z-index: 100;

	@include media(to lap) {
		position: absolute;
		z-index: 100;
	}

	li a {
		@include transition(all 0.25s);
		@include rem(padding, $unit/2 $unit);
		text-transform: uppercase;
		color: white;
		display: block;
	}

	li a:hover {
		border-left: 5px solid white;
	}
}


.portfolio-items-list {
	@extend %menu;
	@include rem(margin-top, $unit);

	&.portfolio-items-list-full-width{
			width: 100% !important;

			.portfolio-item{
				@include media(to hand)	{
					width: 100% !important;
				}
				@include media(hand lap) {
					width: 50% !important;
				}
				@include media(from lap) {
					width: 33.3% !important;
				}				
			}
	}
}

.portfolio-item {
	float: left;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	@include transform(translate3d(0,0,0) scale(1));
	@include rem(padding, $item_grid_gutter/2);

	img {
		@include transition(transform .3s ease-in-out);
	}


}

.portfolio-item-link{
	width: 100%;
	display: table;
	position:relative;
	overflow:hidden;
}

.portfolio-item:hover {

	@include media(from lap) {
		img {
			@include transform(scale(1.25) translate3d(0,0,0));
		}
	}

	.portfolio-item-info {
		@include opacity(1);

		.lt-ie9 & {
			display: block !important;
		}
	}

	.portfolio-item-table {
		@include transform(none);
	}
}

.portfolio-item-featured-image {
	overflow:hidden;

	.project-no-image & {
		@include media(from lap){
			padding-top: 80%;
		}
	}
}

.project-no-image .portfolio-item-info{
	@include opacity(1);

	.portfolio-item-table{
		@include media(from lap) {
			@include transform(translateY(0));
		}	
	}

	.lt-ie9 &{
		display: block !important;
	}
}

.is_touch_device .portfolio-item-info {
	position: relative;
	color: black;
	background-color: transparent;
	text-align: left;
	padding: 0;
	@include opacity(1);

	.portfolio-item-title {
		color: black;
	}
}

.portfolio-item-info {
	@extend %easeInOutQuad;
	@include backface-visibility(hidden);
	width: 100%;
	color: black;

	@include media(to lap){
		background: none !important;
	}

	@include media(from lap){
		@include rem(padding, 0 $unit/2);
		color: white;
		background-color: rgba($darkerAccentColor, 0.75);
		position: absolute;
		top:0;
		bottom: 0;
		left:0;
		text-align: center;
		@include opacity(0);

		.lt-ie9 &{
			display: none;
		}
	}


	.portfolio-item-table {
		width: 100%;
		height: 100%;
		display: table;
		@include transition(transform .3s ease-in-out);
			
		@include media(from lap) {
			@include transform(translateY(rem(-40px)));
		}
	}

	.portfolio-item-cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.attachment-homepage-portfolio{
	width: 100%;
}

.portfolio-item-title {
	@include fs(24px);
	font-weight: bold;
	padding-bottom: 0;

	.project-no-image & {
		@include media(to lap){
			@include rem(margin-bottom, 3*$unit);
		}
	}

	@include media(hand lap){
		@include fs(0.75*$unit);
	}

	@include media(from lap) {
		color: white;
		@include rem(padding-bottom, $unit/2);
		text-align: center;
	}
}

.portfolio-item-categories-list{
	@extend %menu;
	@extend %menu-horizontal;
	padding: 0 !important;
	display: table;
	@include media(from lap){
		margin: 0 auto;
	}

	li:last-child .portfolio-item-category-link:after{
		content: "";
	}
}


.portfolio-item-category-link{
	@include fs(16px);
	text-transform: lowercase;

	&:after{
		content: ",\00a0";
	}
}

.caroufredsel_wrapper{
	@include media(to lap) {
		min-height: 22rem !important;
	}
	@include media(from lap) {
		min-height: 18rem !important;
	}	

	.entry-content &{
		@include media(to hand) {
			min-height: 28rem !important;
		}

		@include media(hand lap){
			min-height: 22rem !important;
		}
		
		@include media(from lap) {
			min-height: 10rem !important;
		}

	}
}

// single-portfolio.php

.no-border{
	border: none;
}

.project-title{
	@include rem(margin-bottom, $unit);
	// @include fs(30px);
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;

	font-weight: bold;

/*	@include media(from lap) {
		border-left: 4px solid $accentColor;	
		text-align: left;
	}

	@include rem(padding-left, 72px);

	@include media(to hand) {
		@include rem(padding-right, 24px);
	}

	@include media(to lap) {
		@include rem(padding-left, 48px);
	}*/


	@include media(from hand) {
		text-align: left;
		// @include rem(margin-bottom, 2*$unit);
	}

	@include media(from lap) {
		border-left: 4px solid $accentColor;		
		text-align: left;
	}

	@include media(from lap) {
		@include rem(padding-left, 68px);
		@include rem(margin-left, -72px);
	}	

}

//Projects Navigation
.direction-nav-project {

	.portfolio-nav-archive {		
		i {
			@include rem(font-size, 24px);
			line-height: 0;
			height: 0;
			display: block;
			position: relative;
			@include rem(top, 23px);
		}
	}
}

.project-images-container {
	@extend .span12;
	@extend .lap-span8;
	position: relative;
	height: auto !important;

	@include media(to lap) {
		@include rem(margin-bottom, 2*$unit);
	}

	.flex-direction-nav {
		@extend %menu;
		@extend %menu-horizontal;
		position: absolute;
		top: 45%;
		width: 100%;

		li {
			width: 50%;
		}

		a {
			@include rem(padding, $unit/2);
			background: rgba(0, 0, 0, 0.5);
			display: block;
			color: #FFFFFF;
		}

		.flex-prev{
			float: left;
		}

		.flex-next{
			float: right;
		}
	}
}

.project-entry-content{
	@extend .span12;
	// @extend .lap-span4;

	h2 {
		padding-top: 0;
		@include fs(18px);
	}

	& {
		@include fs(16px);
		// color: black;
	}
}

.type-portfolio .comments-area{
	@include media(from lap) {
		width: 66.66666%;
	}
	@include rem(margin-top, 3*$unit !important);

	clear: both;
	float: left;

}

.project-images-list {
	overflow: hidden;

	li {
		@extend %easeInOutQuad;
		@include opacity(0);
		display: block;
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	.flex-active-slide{
		@include opacity(1);
	}
}

.project-control-container {

	@include media(from lap) {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
	}

	.post-navigation{
		@include media(to lap) {
			text-align: center;
		}
	}
}

.navigation-control-menu{
	@extend %menu;
	@extend %menu-horizontal;

	@include media(to hand) {
		text-align: center;
		li{	
			float: none;
		}
	}

	a{
		@include rem(padding, $unit/2);
		@include fs(14px);
		display: block;
		margin-left: 5px;
		color: white;
		background-color: $accentColor;
		text-transform: uppercase;

	}
}
// single-portfolio.php #end