.rsPreloader {
    width: 36px;
    height: 36px;
    background: url('../img/preloader.gif') top left no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -18px;
    opacity: 1;
    @include transform(translate3d(0,0,0));
    @include transition(opacity .3s ease-in-out);

    .js--is-loaded & {
        opacity: 0;
    }
}