/**
 * Sliders
*****************************************************/

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {position: relative; margin: 0; padding: 0;}
.flexslider .slides > li {
	// @todo
	// display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { 
	//width: 100%; 
	display: block;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/


/* Direction Nav */
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

.slide {
	@include transition(opacity .3s ease-in-out);
	@include opacity(0);

	.lt-ie9 & {
		display: none;
	}

	&.flex-active-slide {
		@include opacity(1);

		.lt-ie9 & {
			display: block;
		}
	}
}

.flexslider.loading .slide {

	&, &.flex-active-slide {
		@include opacity(0);
	}
}

.wrapper-featured-image .gallery_format_slider {
	margin: 0;

	.flex-direction-nav {
		@extend %clearfix;
		@extend %unstyled;
		width: 100%;
		position: absolute;
		top: 50%; left: 0;
		width: 100%;
		margin: 0;

		& > li {
			@extend %clearfix;
			background: none;
			width: 50%;
			@include rem(height, 40px);
			float: left;
			position: relative;
			z-index: 300;

			& > a {
				display: block;
				background: none;				
				color: white;
				@include background(rgba(0,0,0,0.75));
				@include rem(padding, $unit/2);
				@include rem(margin, -26px 40px 0);
			}

			.flex-prev {
				float: left;
			}

			.flex-next {
				float: right;
			}
		}
	}
}
/**
 * HomePage Slider
 *****************************************************/
.homepage-slider {
	width: 100%;
	background-color: $grayDarkest;
	color: white;
	z-index: 0;
	@include rem(height, 700px);
	@include transition(height .3s ease-in-out);
	border-bottom: 4px solid $accentColor;

	%heading {
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.125em;
		font-weight: bold;
	}

	.slide {

		&.flex-active-slide {
			@include opacity(1);

			.homepage-slider_slide-content {
				@include transform(none);
				@include opacity(1);
			}
		}
	}

	&:before {
		content: "";
		width: 80px;
		height: 6px;
	}

	// Next/Prev Arrows styling
	.flex-direction-nav {
		// @extend %clearfix;
		// @extend %unstyled;
		// width: 100%;
		// position: absolute;
		// @include rem(bottom, 2*$unit);
		// left:0;
		// @include rem(height, 3*$unit);
		// margin: 0;

		& > li {
			// @extend %clearfix;
			// width: 50%;
			// height: 100%;
			// display: block;
			// float: left;
			// position: relative;
			// z-index: 100;

			&.next {
				// float:right;
			}

			& > a {
			  display: block;
				@include rem(width, 2*$unit);
			  @include rem(height, 3*$unit);
			  position: absolute;
			  bottom: 0;
			  text-indent: -9999px;
			  text-align: center;

			  .slide-thumb {
			  	background-color:$accentColor;
			  	display: block;
			  	@include rem(width, 2*$unit);
			  	@include rem(height, 3*$unit);
			  	overflow:hidden;
					position: absolute;
					top: 0;
					z-index: 0;
					@include transition(width 0.4s cubic-bezier(0.770,0.000,0.175,1.000));
					pointer-events: none;

					.slide-thumb-img {
						@include background-size(cover);
			  		background-repeat:no-repeat;
			  		background-position:top left;
			  		@include rem(width, 5.1*$unit);
			  		height:101%;
					}
			  }

			  .slide-arrow-container {
			  	display:block;
					@include rem(width, 2*$unit);
			  	@include rem(height, 3*$unit);
					margin: 0;
					position: absolute;
					top: 0;
					@include transition(width 0.4s cubic-bezier(0.770,0.000,0.175,1.000));
					pointer-events: none;

					&:before, &:after {
				    content: "";
				    display: block;
				    z-index:1;
				    position: absolute;
				    top: 50%;
				    margin-top: -10px;
				    width: 0; height: 0;
				    border: 10px solid transparent;
				  }

				  .slide-arrow-bg {
				  	background:$accentColor;
				  	@include opacity(0.8); 
				  	width:100%;
				  	height:100%;
				  }
			  }

			  &:hover {
			  	.slide-thumb {
			  		@include rem(width, 5*$unit);
			  	}
			  	.slide-arrow-container {
			  		width:0;
			  	}
			  }
			}

			.flex-prev, .flex-next {
				@include rem(bottom, $unit);
				z-index: 100;

				@include media(from lap) {
					bottom: auto;
					top: 50%;
				}
			}

			.flex-prev {
			  @include rem(left, 24px);

				@include media(from hand) {
					@include rem(left, 48px); 
				}

				@include media(from lap) {
					@include rem(left, 72px);
				}

				.slide-thumb {
					left: 0;
				}

				.slide-arrow-container {
				  border-right: 4px solid white;

				  &:before {
				    border-right-color: white;
				    right: 0;
				  }
				}
			}

			.flex-next {
			  @include rem(right, 24px);

				@include media(from hand) {
					@include rem(right, 48px); 
				}

				@include media(from lap) {
					@include rem(right, 72px);
				}

				.slide-thumb {
					right:0;
				}

				.slide-arrow-container {
					border-left: 4px solid white;
					right:0;
				  &:before {
				    left: 0;
				    border-left-color: white;
				  } 
			  } 
			}
		}

		@include media(from hand) {
			// left: 0;
			// top: 50%;
		}
	}

	.flex-control-paging {
		@extend %unstyled;
		margin: 0;
		position: absolute;
		bottom: 0; left: 0;
		z-index: 9999;
		width: 100%;
		text-align: center;

		& > li {
			display: inline-block;
			@include rem(width, 25px);
			@include rem(height, $unit);
			@include rem(margin, 0 5px);

			& > a {
				display: block;
				@include rem(width, $unit);
				@include rem(height, $unit/2);
				@include rem(margin-top, -1*$unit/4);
				border: 0;
				text-indent: -999em;
				background: $grayDark;
				cursor: pointer;

				&.flex-active {
					@extend %accentBgColor;
				}
			}
		}
	}
}

.homepage-slider_slide-wrap {
	position: relative;
	z-index: 30;
	width: 100%;
	height: 100%;
	display: table;
	@include rem(padding, 5*$unit 0 2*$unit);

	@include media(to lap) {
		@include rem(padding, $unit 0);
	}
}

.slide-content-wrapper {
	background: none;

	.container {
	
		@include media(from lap) {
			@include rem(padding, 0 3*$unit);
		}
	}
}

.homepage-slider_slide-content {
	width: 100%;
	height: 100%;
	display:table-cell;
	vertical-align:middle;
	position: relative;
	padding:0;
	

	@include media(to lap) {
		@include rem(padding-bottom, 3*$unit);
	}

	@include media(from hand) {
		// padding-left:14%;
		// padding-right:14%;
	}

	@include transform(translateY(-10rem));
	@include opacity(0);
	@include transition(all .6s .3s bezier(easeInOutSine));

	h1,h2,h3,h4,h5,h6 {

		

		&:after {
			display:block;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
		}
	}

	
	@include fs(11px);
	h1  { font-size:3.5em;  }
	h2  { font-size:3em; 		}
	h3  { font-size:2em; 		}
	h4 	{ font-size:1.5em;  }
	h5 	{ font-size:1em; 		}
	h6  { font-size:0.7em;  }

	@include media(from hand) {
		@include fs(17px);
	}

	@include media(from lap) {
		@include fs(22px);
	}

	%heading {
		@include rem(padding, 0 10px);
		@include rem(margin-top, $unit/2);
		letter-spacing: normal;
		line-height: 1.25;
		background-color: rgba(0, 0, 0, 0.6);
		float:left;
		clear:both; 

		@include media(from lap) {
			@include rem(padding, 0 $unit/2);
		}
	}

	.btn {
		background-color: rgba(0, 0, 0, 0.6);
		@include fs(16px);
		display: inline-block;
		position: relative;
		@include rem(padding, 10px 15px 10px 20px);
		// text-transform: none;
		float:left;
		clear:both;
		@include rem(margin, $unit/2 0);

		@include media(from lap) {
			@include rem(font-size, 18px);
			@include rem(padding, $unit/2 20px $unit/2 $unit);
		}

		// @include media(to hand) {
		// 	@include rem(font-size, 21px);
		// }

		&:after {
	    // content: "";
	    // display: block;
	    // z-index:1;
	    // position: absolute;
	    // top: 50%;
	    // left:0;
	    // margin-top: -10px;
	    // width: 0; height: 0;
	    // border: 10px solid transparent;
	    // border-left-color: white;
	  }
	}
}

.preloader {
	width: 110px;
	height: 10px;
	display: block;
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -5px;
	margin-left: -55px;
	background: url('../images/preloader.gif') top left no-repeat;
	@include opacity(0);
	@include transition(all .2s ease-in-out);
}

.loading {

	.preloader {
		@include opacity(1);
	}
}



.gallery_format_slider {
	overflow: hidden;

	&.loading {
		overflow: hidden;
		height: 600px;

		.slides > dl {
			height: 600px;
			@include opacity(0);
		}
	}

	.slides > dl {
		@include opacity(1);
	}

	img {
		width:100%;
	}

	.flex-direction-nav {
		@extend %menu;
		position: absolute;
		@include rem(bottom, $unit);
		@include rem(right, $unit);
		margin: 0;
		padding: 0 !important;

		li{
			display: inline-block;
		}

		a {
			position: relative;
			display: block;
			text-decoration: none;
			background: black;
			background: rgba(black, 0.75);
			color: #fff;
			@include rem(padding, $unit/2);
			@include transition(background-color .2s ease-in-out);

			&:hover {
				@extend %accentBgColor;
			}

			&.flex-prev{
				margin-right: 5px;
			}
		}


	}
}

// General Style for Sliders
.wp-slider {
	position: relative;

	.slides, .flex-control-nav, .flex-direction-nav {
		@extend %clearfix;
		@extend %unstyled;
		border: 0;
		margin: 0;
	}

	.flex-control-paging {
		@extend %unstyled;
		display: block;
		clear: both;

		& > li {
			display: inline-block;
			@include rem(margin-right, 8px);
			@include rem(margin-bottom, 3px);
			border-bottom: none;

			& > a {
				display: block;
				@include rem(width, 5px);
				@include rem(height, 5px);
				@include border-radius(5px);
				@include border-radius(rem(5px));
				text-indent: -999em;
				background-color: $grayLight;
				cursor: pointer;
				color: transparent;
			}

			&:hover > a, & > a.flex-active {
				@include rem(width, 7px);
				@include rem(height, 7px);
				position: relative;
				@include rem(top, 1px);
				@include rem(left, 1px);
				@include rem(margin, 0 -1px);
				background-color: $gray;
			}
		}
	}

	.slides > .slide {
		@include opacity(0);
		@include transition(opacity .3s bezier(easeInOutQuad));
		position: relative;
		@include backface-visibility(hidden);
		border-bottom: 0;
		visibility:hidden;
	}

	.slides > .slide.flex-active-slide {
		@include opacity(1);
		visibility:visible;
	}
}

// Video Slider
.homepage-slider_slide-content.s-video {
	.container > div {

	}
	.page-header-videohtml-wrap {
		margin: 15px auto;
		// text-align: center;
	}

	@include media(from lap) {
		.container > div {
			float:left;
			width:50%;
		}
		.page-header-videohtml-wrap {
			margin:0;
			// text-align:left;
			@include rem(padding-left, $unit);

			& >:first-child {
				margin-top:0;
			}
		}
	}
}