/**
 * Widget
 */

.widget_nav_menu {
  margin-bottom: 0;
}

@import "../widgets/flickr";
@import "../widgets/dribbble";
@import "../widgets/twitter";
@import "../widgets/latest-posts";
@import "../widgets/contact";
@import "../widgets/categories";

.widget_calendar {

  th {
    text-align: center;
    font-weight: bold;
  }
}