/*--------------------------------*\
               FOOTER
\*--------------------------------*/

.site__footer {
    background: $dark;
    @include rem(font-size, 14px);
    color: #a6a1a1;

    a {
        color: #a6a1a1;

        &:hover {
            color: white;
        }
    }
}

.footer__sidebar {
    @include rem(padding-top, $_u + $_u2);

    .container {
        position:relative;
    }
}

.footer__copyright {
    background: black;
    @include rem(padding, $_u2 0);

    @include media-query(palm) {
        & div div > div {
            text-align:center;
            float:left;
            width:100%;
        }
    }
    @include media-query(lap-and-up) {
        .footer-menu {
            text-align:right;
        }
    }
}

@include media-query(palm) {
    .site-navigation--footer li {
        display: block;
    }
}