.wp-caption{
    display: block;
    max-width: 100%;

    a{
        display: block;

        img{
            width: 100%;
            height: auto;
        }
    }

    .wp-caption-text{
        @include font-size(14px);
        font-style: italic;

        &:before{
            content: "\2014";;
            @include rem(margin-right, 5px);
        }
    }
}

.entry__meta--project{
    @include rem(padding-bottom, $base-spacing-unit);

    @include media(from hand) {
        @include rem(margin-left, -$half-spacing-unit);
    }

    @include media(to hand) {
        .entry__meta-box{    
            @include rem(margin-bottom, $half-spacing-unit);
        }        
    }

    @include media(from hand) {
        .entry__meta-box{    
            margin: 0;
        }

        .entry__meta-box, .likes-box, .social-links{
            @include rem(padding, 0 $half-spacing-unit);
        }

        .social-links{
            padding-right: 0;
        }

    }

    .social-links__list a{
        padding-left: 0;
        padding-right: 0;
    }
}

.project-classic{
    .entry__meta--project{
        @include rem(padding-bottom, $base-spacing-unit);
    }
}

.single-portfolio{
    .featured-image-wrapper{
        @include rem(margin-left, -2 * $base-spacing-unit);
    }
}





/*----------------------------------------*\
*   $PROJECT SIDEBAR-RIGHT
\*----------------------------------------*/

.project-sidebar-right{
    .title-lap{
        margin-left: 0;
        padding-left: 0;
    }

    .site-content{
        @include rem(max-width, 1300px);
    }

    @include media(to lap) {
        .project-images{
            padding-top: 0;
        }
    }

    @include media(from lap){
        .project-images{
            @include rem(padding, 2 * $base-spacing-unit 0);
        }        
    }

    @include media(from lap) {
        article{
            display: table;
        }

        .project-images{
            display: table-cell;
            @include rem(max-width, 815px);
        }

        .project-content{
            @include rem(padding, 2 * $base-spacing-unit);
            vertical-align: top;
            display: table-cell;
            @include rem(max-width, 460px);
        }
    }

    .related-projects_container{
        @include media(from lap) {
            @include rem(margin-right, 2 * $base-spacing-unit);
        }
    }

}

.project-image{
    display: block;

    img{
        width: 100%;
        height: auto;
    }
}

.project-images{
    a{
        display: block;

        img{
            width: 100%;
        }
    }
}

/**
 * Two titles in the mark-up. One that is on top of the images
 * section and only displayed for mobile devices.
 * The second one is located in the sidebar and is visible from 'lap'.
 */
.title-mobile{
    margin-bottom: 0;
    @include rem(margin-left, -2 * $base-spacing-unit);
    @include rem(padding-left, 2 * $base-spacing-unit);
}

@include media(to lap) {
    .title-mobile{
        display: block;
    }

    .title-lap{
        display: none;
    }
}

@include media(from lap) {
    .title-mobile{
        display: none;
    }

    .title-lap{
        display: block;
    }
}




/*-------------------------------------*\
               $FULL WIDTH
\*-------------------------------------*/

.single-portfolio-fullwidth {

    @include media(from hand) {
        .entry__header {
            border-right: 1px dotted $dark;
            @include rem(margin-bottom, 2 * $base-spacing-unit);
        }

        .entry__content {
            @include rem(padding-top, 5 * $half-spacing-unit);
        }        
    }

    .entry__header {
        border-right: 1px dotted $dark;
        @include rem(margin-bottom, 2 * $base-spacing-unit);
        @include rem(padding-right, 2 * $base-spacing-unit);
    }

    .entry__title {
        @extend .gamma;
        @include rem(padding-top, 5 * $half-spacing-unit);
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

    .entry__meta {
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
 
    .entry__meta-box {
        float: none;
        margin-left: 0;
        @include rem(margin-bottom, $base-spacing-unit);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .entry__meta.to-hand-visible{
        @include rem(margin-bottom, $base-spacing-unit);
    }            

    @include media(to hand) {
        .hand-visible{
            display: none;
        }
    }

    @include media(from hand) {
        .to-hand-visible{
            display: none;
        }        
    }
}

@include media(from hand) {
    .gutter--double {
        @include rem(border-left-width, 2 * $base-spacing-unit);    
    }
}





/*----------------------------------------*\
    $BULLETS_ROYAL_SLIDER
\*----------------------------------------*/

/**
 * Custom styling for bullets on project full-width page
 */

.single-lens_portfolio, .single-lens_gallery {

    .rsBullets{
        @include rem(margin, 0 -8px);
        position: absolute;
        @include rem(bottom, $base-spacing-unit);
        @include rem(left, 2 * $base-spacing-unit);
    }

    .rsBullet{
        @include rem(width, 10px);
        @include rem(height, 10px);
        @include rem(margin, 8px);
        @include rem(padding, 1px);
        border-radius: 50%;
        background-color: black;
        @include opacity(.5);
    }

    .rsNavSelected{
        @include rem(width, 12px);
        @include rem(height, 12px);
        @include opacity(.9);
    }

}