/*----------------------------------------*\
*   $PROJECT LAYOUT
\*----------------------------------------*/





/*----------------------------------------*\
*   $PROJECT SIDEBAR-RIGHT
\*----------------------------------------*/

/**
 * Two titles in the mark-up. One that is on top of the images
 * section and only displayed for mobile devices.
 * The second one is located in the sidebar and is visible from 'lap'.
 */

.title-lap{
    display: none;
}

@include media(from lap) {
    .title-mobile{
        display: none;
    }

    .title-lap{
        display: block;
    }
}

.single-portfolio-sidebar{
    .entry__meta-box{
        margin-right: 0;
    }
}


/*-------------------------------------*\
               $FULL WIDTH
\*-------------------------------------*/

.single-portfolio-fullwidth {

    .entry__title {
        @extend .gamma;
        @include rem(padding-top, 5 * $half-spacing-unit);
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

    .entry__meta {
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
 
    .entry__meta-box {
        float: none;
        margin-left: 0;
        @include rem(margin-bottom, $base-spacing-unit);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .entry__meta.to-hand-visible{
        @include rem(margin-bottom, $base-spacing-unit);
    }            

    @include media(to hand) {
        .hand-visible{
            display: none;
        }
    }

    @include media(from hand) {
        .to-hand-visible{
            display: none;
        }        
    }
}

@include media(from hand) {
    .gutter--double {
        @include rem(border-left-width, 2 * $base-spacing-unit);    
    }
}





/*----------------------------------------*\
    $BULLETS_ROYAL_SLIDER
\*----------------------------------------*/

/**
 * Custom styling for bullets on project full-width page
 */

.single-lens_portfolio, .single-lens_gallery {

    .rsBullets{
        @include rem(margin, 0 -8px);
        position: absolute;

        @include media(to hand) {
            @include rem(left, $base-spacing-unit);
            @include rem(bottom, $half-spacing-unit);
        }

        @include media(from hand) {
            @include rem(left, 2 * $base-spacing-unit);
            @include rem(bottom, $base-spacing-unit);
        }
    }

    .rsBullet{
        @include rem(width, 10px);
        @include rem(height, 10px);
        @include rem(margin, 8px);
        @include rem(padding, 1px);
        border-radius: 50%;
        background-color: black;
        @include opacity(.5);
    }

    .rsNavSelected{
        @include rem(width, 12px);
        @include rem(height, 12px);
        @include opacity(.9);
    }

}

/**
 * Alowing the gallery controls to appear 'unharmed'
 */
.single-gallery-fullscreen .site-footer{
    display: none;
}